---
import Layout from "../layouts/Layout.astro";
import flo from "../assets/aboutus/flo.png";
import { createPersonSchema } from "../lib/schema";

const description = "Lebenslauf und Publikationen von Dr. Florian Sochatzy, Geschäftsführer der Digitalen Lernwelten GmbH.";
const florianSchema = createPersonSchema({
	name: "Florian Sochatzy",
	pathname: "/florian-sochatzy-vita/",
	description,
	honorificPrefix: "Dr.",
	jobTitle: "Geschäftsführer",
	image: new URL(flo.src, Astro.site ?? "https://dilewe.de").toString(),
	knowsAbout: ["Digitale Bildung", "Digitale Schulbücher", "Bildungsmedien"],
});
---

<Layout
	title="Dr. Florian Sochatzy – Lebenslauf und Publikationen"
	bodyClass="index"
	description={description}
	pageType="ProfilePage"
	schema={florianSchema}
	mainEntity={{ '@id': florianSchema['@id'] }}
>
	<div class="vita-detail">

		<h1>Dr. Florian Sochatzy</h1>
		<p class="subtitle">Lebenslauf und Publikationen</p>
		<div class="intro-with-image">
			<img src={flo.src} alt="Dr. Florian Sochatzy" class="portrait" />
			<p>Dr. Florian Sochatzy ist Unternehmer, Autor und Destillateur. In diesen unterschiedlichen Feldern treiben ihn ähnliche Fragen an: Wie kann man Prozesse für alle Beteiligten sinn- und freudvoll gestalten? Warum wird etwas so und nicht anders gemacht? Wer ist eigentlich für den gegenwärtigen Zustand verantwortlich? Was müsste man tun, um den Status quo zu überwinden? Welche Vorteile und neuen Möglichkeiten können dadurch entstehen? Diese Fragen erörtert er unter anderem auf der EduCouch, dem Podcast-Format der Digitalen Lernwelten.</p>
		</div>

		<h2>Lebenslauf</h2>
		<table class="cv-table">
			<tbody>
				<tr><td>2002–2008</td><td>Studium Geschichte, Anglistik, Geschichtskultur</td></tr>
				<tr><td>2008–2016</td><td>Wissenschaftlicher Mitarbeiter an der Universität Eichstätt-Ingolstadt</td></tr>
				<tr><td>2016</td><td>Promotion in Theorie und Didaktik der Geschichte über die Konzeption, Produktion und empirische Erforschung digitaler Schulbücher</td></tr>
				<tr><td>2009</td><td>Gründung Lichtpunkt Film GbR</td></tr>
				<tr><td>seit 2011</td><td>Geschäftsführender Gesellschafter Institut für digitales Lernen</td></tr>
				<tr><td>2015–2017</td><td>Geschäftsführender Gesellschafter Idee:L GmbH</td></tr>
				<tr><td>2016</td><td>Gründung Kraftwerk Film GbR</td></tr>
				<tr><td>2017</td><td>Gründung So&amp;So Destillat Manufaktur</td></tr>
				<tr><td>2018</td><td>Gründung Digitale Lernwelten GmbH</td></tr>
				<tr><td>2017–2020</td><td>Geschäftsführer Cornelsen mBook GmbH</td></tr>
				<tr><td>2020</td><td>Strategischer Berater Cornelsen Verlag GmbH</td></tr>
				<tr><td>seit 2020</td><td>Wissenschaftlicher Beirat der Demokratischen Schule München</td></tr>
				<tr><td>seit 2021</td><td>Geschäftsführer Digitale Lernwelten GmbH</td></tr>
				<tr><td>seit 2021</td><td>Kreativ- und Strategieberater dicht &amp; ergreifend</td></tr>
			</tbody>
		</table>

		<h2>Publikationen</h2>

		<h3>Bücher</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2020</td><td>Sochatzy, Florian; Ventzke, Marcus (Hrsg.): <em>Bildung digital gestalten.</em> Eichstätt.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Das multimediale Schulbuch (mBook) – von der Theorie in die Praxis: Konzeption, Produktion und empirische Überprüfung eines multimedialen Geschichtsschulbuchs.</em> Eichstätt: Institut für digitales Lernen, 373 S.</td></tr>
				<tr><td>2015</td><td>Hrsg.: Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>mBook-L: Geschichte denken statt pauken.</em> Lehrerband zum Geschichtsbuch für die Sekundarstufe I an Gymnasien, Band 1–3. Eichstätt: Institut für digitales Lernen.</td></tr>
				<tr><td>2014</td><td>Lina, Stephan; Ventzke, Marcus; Sochatzy, Florian; Grapentin, Johannes; Günther, Michael: <em>m-Book Geschichte NRW – Vom Ersten Weltkrieg bis heute.</em> Hrsg.: Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus. Eichstätt.</td></tr>
				<tr><td>2014</td><td>Ventzke, Marcus; Kneser, Lukas; Heinz, Benjamin; Ubl, Linus; Sochatzy, Florian: <em>m-Book Geschichte NRW – Vom Mittelalter bis in den Ersten Weltkrieg.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2014</td><td>Ventzke, Marcus; Sochatzy, Florian; Kneser, Lukas; Bräuer, Benjamin: <em>m-Book Geschichte NRW – Von den Frühen Kulturen bis ins Mittelalter.</em> Hrsg.: Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Schreiber, Waltraud; Schöner, Alexander; Sochatzy, Florian: <em>Analyse von Schulbüchern als Grundlage empirischer Geschichtsdidaktik.</em> Stuttgart: Kohlhammer, 232 S. ISBN 978-3-17-022634-0</td></tr>
				<tr><td>2013</td><td>Raasch, Markus; Kneser, Lukas; Lejeune, Carlo; Ventzke, Marcus; Sochatzy, Florian: <em>mBook Geschichte – das 20. und 21. Jahrhundert.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Raasch, Markus; Ventzke, Marcus; Sochatzy, Florian; Kneser, Lukas; Sipl, Stefan: <em>mBook Geschichte – das lange 19. Jahrhundert.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Ventzke, Marcus; Sochatzy, Florian; Gramsch, Robert; Kretzschmar, Sebastian; Heinz, Benjamin; Kneser, Lukas: <em>mBook Geschichte – das Mittelalter.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Sochatzy, Florian; Ventzke, Marcus; Bräuer, Benjamin; Grapentin, Johannes: <em>mBook Geschichte – die Antike.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Ventzke, Marcus: <em>mBook Geschichte – die Frühe Neuzeit.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2012</td><td>Sochatzy, Florian: <em>Strukturierungsvorschlag zum Thema „Vom Imperialismus zur Entkolonialisierung am Beispiel der Kolonialmacht Belgien".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Ministerium der Deutschsprachigen Gemeinschaft Belgiens. Eichstätt, 25 S.</td></tr>
				<tr><td>2010</td><td>Anders, Petra; Sochatzy, Florian; Ventzke, Marcus: <em>Unterrichtsmaterial „Ernst Thälmann – Führer seiner Klasse".</em> Ludwigsfelde-Struvehof: LISUM, 30 S.</td></tr>
				<tr><td>2010</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus; Wenzl, Anna: <em>Unterrichtsmaterial „Sonnenallee".</em> Ludwigsfelde-Struvehof: LISUM, 34 S.</td></tr>
			</tbody>
		</table>

		<h3>Vorträge (Auswahl)</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2020</td><td>Sochatzy, Florian: <em>Bildung in Zeiten der digitalen Revolution.</em> Tagung der in den Landtagen für Bildung Verantwortlichen im Bundestag.</td></tr>
				<tr><td>2020</td><td>Sochatzy, Florian: <em>Brennpunkt digitale Bildung.</em> Bayerischer Landtag.</td></tr>
				<tr><td>2018</td><td>Sochatzy, Florian: <em>Bildung in Zeiten der digitalen Revolution.</em> Schulleitertagung Frauenwörth im Chiemsee.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Digitalisierung in der schulischen Bildung.</em> Amtliche Direktorentagung, Kloster Seeon.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>E-Book-Konferenz „Future Reading – Leser, Produkte, Geschäftsmodelle".</em> Literaturhaus München.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Prämissen digitaler Bildung.</em> Wirtschaftsphilologentagung, Universität Passau.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Wird das Schulbuch digital?</em> Öffentliche Anhörung „Digitale Bildung in Niedersachsen", Niedersächsischer Landtag.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Prämissen für digitalen Wandel in der schulischen Bildung.</em> Dienstbesprechung der Fachreferentinnen und Fachreferenten des Ministerialbeauftragten.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Potentiale digitalen Lernens am Beispiel eines multimedialen Schulbuches.</em> Katholisches Schulwerk in Bayern.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Digitale Bildung der Zukunft.</em> Zukunftskommission Digitale Agenda der Stadt Neuss.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Potentiale und Herausforderungen digitaler Schulbücher.</em> Fachtag Geschichte, Landesmedienzentrum BaWü.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Herausforderungen und Chancen digitaler Bildung.</em> Tagung der schulpolitischen Sprecher der CDU/CSU-Landtagsfraktionen.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Bildung in der digitalen Zukunft.</em> mobile.schule.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Potenziale digitaler Schulbücher – von Differenzierung bis Inklusion.</em> Kongress Digitale Didaktik Schloss Neubeuern.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Bildung in Zeiten der digitalen Revolution.</em> Fachtag Medienzentren – Lernen im digitalen Wandel.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Potentiale digitalen Lernens am Beispiel eines multimedialen Schulbuchs.</em> EVO Jahrestagung.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Bildung und digitale Revolution.</em> Bildungspolitisches Netzwerk NRW im Landtag.</td></tr>
				<tr><td>2017</td><td>Sochatzy, Florian: <em>Bildungsherausforderungen der digitalen Revolution.</em> Öffentlicher Gastvortrag, LMU München.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Das mBook für gemeinsames Lernen.</em> Projektgruppe „Lehren und Lernen in der digitalen Welt", MSW NRW.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Digitalisierung in der Schule.</em> Friedrich-Ebert-Stiftung: Weiterbildung für Lehrkräfte der Zukunft.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Edtalk: Innovation in Education – Digital learning design for multimedia schoolbooks.</em> Jump Start goes to school, New Delhi, Bengaluru.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Potentiale und Herausforderungen digitaler Lernmittel für Schüler und Lehrer.</em> 8. Bayerisches Anwenderforum eGovernment, Bayerischer Landtag.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Das multimediale Geschichtsbuch in Theorie und Praxis (mBook).</em> Mobile.Schule, Oldenburg.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Das multimediale Geschichtsbuch.</em> Kongress Digitale Didaktik, Schloss Neubeuern.</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian: <em>Das mBook NRW – ein digitales Geschichtsbuch als Motor für die Schul- und Unterrichtsentwicklung.</em> Didacta, Köln.</td></tr>
				<tr><td>2015</td><td>Sochatzy, Florian: <em>Das mBook – Geschichtsunterricht mit dem digitalen Schulbuch.</em> Netzwerktreffen der Europaschulen in NRW, Landtag Düsseldorf.</td></tr>
				<tr><td>2015</td><td>Sochatzy, Florian: <em>The multimedia history book (mBook).</em> Knowledge Production in a Hybrid Age, Braunschweig.</td></tr>
				<tr><td>2015</td><td>Sochatzy, Florian: <em>The multimedia textbook (mBook).</em> Knowledge Production in a Hybrid Age.</td></tr>
				<tr><td>2014</td><td>Sochatzy, Florian: <em>Schüler-Blog zur Vielfalt europäischen Gedenkens und europäischen Geschichtsbewusstseins.</em> Drittes Internationales Symposium der Gesellschaft für Geschichtsdidaktik Österreich, Universität Innsbruck.</td></tr>
				<tr><td>2014</td><td>Merkt, Martin; Sochatzy, Florian: <em>Die Wirkung von Training und Cues auf die Analyse von Propagandafilmen.</em> 49. Kongress der Deutschen Gesellschaft für Psychologie (DGPs), Bochum.</td></tr>
				<tr><td>2014</td><td>Merkt, Martin; Sochatzy, Florian: <em>Effects of training and cueing on analyzing propaganda.</em> EARLI SIG 6&amp;7 Conference, Rotterdam.</td></tr>
				<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>Auf dem Weg zu digital-multimedialen Lehr- und Lernmitteln für kompetenzorientiertes inklusives Unterrichten und Lernen.</em> Kriterien für Lernmittel des Gemeinsamen Lernens, Düsseldorf.</td></tr>
				<tr><td>2014</td><td>Bräuer, Benjamin; Sochatzy, Florian: <em>The First Centenary of World War I: Historical Learning, Public History and National, Transnational and European Identities.</em> The First World War in Central European Memory, Wien.</td></tr>
				<tr><td>2014</td><td>Sochatzy, Florian: <em>Transnational Projects / Perspectives.</em> The First World War in Central European Memory, Wien.</td></tr>
				<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>mBook NRW – ein digitales Lernangebot und seine Wirksamkeit für Lehr- und Lernkompetenzen.</em> Bildungskongress „Gemeinsames Lernen vielfältig gestaltet", Köln.</td></tr>
				<tr><td>2014</td><td>Merkt, Martin; Sochatzy, Florian: <em>Instruktionale Maßnahmen zur Unterstützung der Analyse von Propagandafilmen.</em> 2. Tagung der GEBF, Frankfurt am Main.</td></tr>
				<tr><td>2013</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Warum Erster Weltkrieg, was auswählen, wie unterrichten?</em> 14. Eichstätter Kontaktstudium, Freising.</td></tr>
				<tr><td>2013</td><td>Sochatzy, Florian; Merkt, Martin: <em>Effekte eines multimedialen, kompetenzorientierten Filmmethodentrainings in einem multimedialen Schulbuch.</em> geschichtsdidaktik empirisch 13, Basel.</td></tr>
				<tr><td>2013</td><td>Merkt, Martin; Sochatzy, Florian; Schreiber, Waltraud; Schwan, Stephan: <em>Teaching students to recognize filmic devices in propaganda movies.</em> EARLI, München.</td></tr>
			</tbody>
		</table>

		<h3>Aufsätze (Auswahl)</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2017</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Die digitale (Bildungs-)Revolution und ihre Folgen. Veränderungen für Unterricht und Unterrichtsmaterialien.</em> In: Thissen, Frank (Hrsg.): Lernen in virtuellen Räumen. De Gruyter, S. 54–73. ISBN 978-3-11-050041-7 (peer-reviewed)</td></tr>
				<tr><td>2016</td><td>Sochatzy, Florian; Ventzke, Marcus; Schreiber, Waltraud: <em>New technology and the potential and limitations for constructivist instructional designers: a multimedia history textbook.</em> In: Wojdon, Joanna (Hrsg.): E-teaching History. Cambridge Scholars Publishing, S. 50–64. ISBN 978-1-4438-8584-3 (peer-reviewed)</td></tr>
				<tr><td>2015</td><td>Sochatzy, Florian; Ventzke, Marcus; Schreiber, Waltraud: <em>Das Potential digitaler Lehr- und Lernmittel für den Paradigmenwechsel Kompetenzorientierung.</em> In: Buchberger, Wolfgang; Kühberger, Christoph; Stuhlberger, Christoph (Hrsg.): Nutzung digitaler Medien im Geschichtsunterricht. Innsbruck, S. 179–199. ISBN 978-3-7065-5428-2 (peer-reviewed)</td></tr>
				<tr><td>2015</td><td>Sochatzy, Florian; Merkt, Martin: <em>Kompetenzförderung durch ein multimediales Filmmethodentraining.</em> In: Waldis, Monika; Ziegler, Béatrice (Hrsg.): Forschungswerkstatt Geschichtsdidaktik 13. Bern. ISBN 978-3-0355-0272-5 (peer-reviewed)</td></tr>
				<tr><td>2014</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Zwischen Behauptung, Intention und Evidenz: zur Notwendigkeit, die Entwicklung von und die Arbeit mit elektronischen Schulbüchern empirisch zu begleiten.</em> In: Schuhen, Michael (Hrsg.): Das elektronische Schulbuch. Berlin: LIT-Verlag, S. 71–98. ISBN 978-3-643-12589-7 (peer-reviewed)</td></tr>
				<tr><td>2013</td><td>Schreiber, Waltraud; Schöner, Alexander; Sochatzy, Florian: <em>Möglichkeiten der Auswertung für kategorial analysierte Datensätze.</em> In: dies. (Hrsg.): Analyse von Schulbüchern als Grundlage empirischer Geschichtsdidaktik. Stuttgart: Kohlhammer, S. 124–157.</td></tr>
				<tr><td>2013</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Das multimediale Schulbuch – kompetenzorientiert, individualisierbar und konstruktionstransparent.</em> In: dies. (Hrsg.): Analyse von Schulbüchern als Grundlage empirischer Geschichtsdidaktik. Stuttgart: Kohlhammer, S. 212–232.</td></tr>
				<tr><td>2011</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Belgien im 19. Jahrhundert – Staatlichkeit auf Grundlage außenpolitischer Neutralität (1830–1914).</em> In: „m-Book Geschichte" für die Sekundarstufe II der Deutschsprachigen Gemeinschaft Belgiens. Eupen.</td></tr>
				<tr><td>2011</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Belgien im Ersten Weltkrieg – vom neutralen Land zur bedrohten Verteidigungsnation (1914–1918).</em> In: „m-Book Geschichte" für die Sekundarstufe II der Deutschsprachigen Gemeinschaft Belgiens. Eupen.</td></tr>
				<tr><td>2011</td><td>Sochatzy, Florian: <em>Nationalismus und Imperialismus.</em> In: „m-Book Geschichte" für die Sekundarstufe II der Deutschsprachigen Gemeinschaft Belgiens. Eupen.</td></tr>
				<tr><td>2010</td><td>Anders, Petra; Sochatzy, Florian; Ventzke, Marcus: <em>Unterrichtsmaterial „Ernst Thälmann – Führer seiner Klasse".</em> In: Hofmann, Jan (Hrsg.): Vergangenheit verstehen, Demokratiebewusstsein stärken. LISUM, S. 34–37. ISBN 978-3-940987-63-1</td></tr>
				<tr><td>2010</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus; Wenzl, Anna: <em>Unterrichtsmaterial „Sonnenallee".</em> In: Hofmann, Jan (Hrsg.): Vergangenheit verstehen, Demokratiebewusstsein stärken. LISUM, S. 66–69. ISBN 978-3-940987-63-1</td></tr>
				<tr><td>2010</td><td>Sochatzy, Florian: <em>Innovative Filmarbeit im Geschichtsunterricht – Von neuen Filmsorten und einem filmspezifischen Umgang mit etablierten Gattungen.</em> In: Kepser, Matthis (Hrsg.): Fächer der schulischen Filmbildung. München: kopaed, S. 109–122. ISBN 978-3-86736-085-2</td></tr>
				<tr><td>2010</td><td>Sochatzy, Florian: <em>Zeitzeugen im Geschichtsunterricht.</em> In: Ventzke, Marcus; Mebus, Sylvia; Schreiber, Waltraud (Hrsg.): Geschichte denken statt pauken in der Sekundarstufe II. Radebeul: Sächsisches Bildungsinstitut, S. 79–94.</td></tr>
			</tbody>
		</table>

		<h3>Artikel (Auswahl)</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2015</td><td>Sochatzy, Florian; Merkt, Martin: <em>Becoming aware of cinematic techniques in propaganda: Instructional support by cueing and training.</em> In: Learning and instruction, Heft 39, S. 55–71. ISSN 0959-4752 (peer-reviewed)</td></tr>
				<tr><td></td><td>Sochatzy, Florian; Ventzke, Marcus; Schreiber, Waltraud: <em>The multimedia Textbook (mBook) as a possible answer to the educational challenges of the digital revolution.</em> In: Eckert 16 Bulletin.</td></tr>
				<tr><td>2013</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Multimediales Geschichtsschulbuch.</em> In: Agora: Magazin der KU Eichstätt-Ingolstadt, Bd. 29, Heft 1, S. 30–31. ISSN 0177-9265</td></tr>
				<tr><td></td><td>Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>macht.schule: Blog des Instituts für digitales Lernen.</em></td></tr>
				<tr><td></td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Auf dem Weg zu digital-multimedialen Lehr- und Lernmitteln für kompetenzorientiertes inklusives Unterrichten und Lernen.</em> In: www.medienberatung.schulministerium.nrw.de.</td></tr>
			</tbody>
		</table>

		<a href="/" class="back-link">Zurück zur Startseite</a>
	</div>
</Layout>

<style>
	.vita-detail {
		max-width: 800px;
		margin: 0 auto;
		padding: 3rem 2rem 4rem;
	}

	.back-link {
		text-decoration: none;
		text-transform: uppercase;
		color: var(--tertiary, #027AAD);
		font-size: 0.85rem;
		letter-spacing: 0.04em;
		display: inline-block;
		margin-bottom: 2rem;
	}

	.back-link:hover {
		text-decoration: underline;
	}

	h1 {
		color: var(--primary);
		font-size: 1.8rem;
		font-weight: 400;
		margin: 0 0 0.3rem;
		line-height: 1.3;
	}

	.subtitle {
		font-size: 1.1rem;
		color: #666;
		margin: 0 0 2rem;
	}

	.intro-with-image {
		display: flex;
		gap: 2rem;
		align-items: flex-start;
		margin-bottom: 2rem;
	}

	.portrait {
		width: 330px;
		min-width: 330px;
		border-radius: 4px;
	}

	@media (max-width: 600px) {
		.intro-with-image {
			flex-direction: column;
		}
		.portrait {
			width: 100%;
			min-width: unset;
			max-width: 260px;
		}
	}

	h2 {
		font-size: 1.3rem;
		font-weight: 500;
		color: var(--primary);
		margin: 2.5rem 0 0.75rem;
	}

	h3 {
		font-size: 1.1rem;
		font-weight: 500;
		color: #333;
		margin: 2rem 0 0.5rem;
		text-transform: none;
	}

	p {
		font-size: 1rem;
		color: #555;
		line-height: 1.8;
		margin: 0 0 1rem;
	}

	.cv-table {
		width: 100%;
		border-collapse: collapse;
		margin: 1rem 0 2rem;
	}

	.cv-table td {
		padding: 0.75rem 1rem;
		font-size: 0.95rem;
		color: #555;
		line-height: 1.6;
		vertical-align: top;
		border-bottom: 1px solid #eee;
	}

	.cv-table td:first-child {
		white-space: nowrap;
		font-weight: 500;
		color: var(--primary);
		width: 1%;
	}

	@media (max-width: 600px) {
		.cv-table td {
			display: block;
			padding: 0.3rem 0;
			border-bottom: none;
		}
		.cv-table tr {
			display: block;
			margin-bottom: 1rem;
			padding-bottom: 0.75rem;
			border-bottom: 1px solid #eee;
		}
	}
</style>
