---
import Layout from "../layouts/Layout.astro";
import HeaderImage from "../components/HeaderImage.astro";
import TeaserBox from "../components/TeaserBox.astro";
import HeaderTextParagraph from "../components/HeaderTextParagraph.astro";
import TeamSlider from "../components/TeamSlider";

import headerImage from "../assets/header-index.jpg";
import portraitFloMarcus from "../assets/portrait-flo-marcus.jpg";
import portraitPiera from "../assets/portrait-piera.jpg";
import portraitObi from "../assets/portrait-obi.jpg";
import portraitBen from "../assets/portrait-ben.jpg";
import portraitFabi from "../assets/portrait-fabi.jpg";
---

<Layout title="Über uns">
	<HeaderImage image={headerImage} />
	<TeaserBox>
		<h2>Manufaktur für digitale Bildung</h2>
		<p>
			Die Digitalen Lernwelten konzipieren und produzieren Lösungen für Kultur,
			Bildung und Wissenschaft. Wir verbinden Inhalt und Technik, Wissenschaft
			und Praxis, Medien und Didaktik, Datenschutz und Nutzbarkeit, um mit
			unseren Partnern gemeinsam nachhaltige Lösungen zu entwickeln.
		</p>
	</TeaserBox>
	<HeaderTextParagraph>
		<div>
			<h3>Unsere Kernkompetenz</h3>
			<h4>Ganzheitliche digitale Bildungsprojekte</h4>
		</div>
		<p>
			Wir kennen die Bedürfnisse öffentlicher und privater Auftraggeber – seit
			Jahren arbeiten wir erfolgreich mit Kultusministerien, Landesämtern,
			Bundesbehörden, Stiftungen und Vereinen zusammen. Unsere Projekte werden
			in diesen Kooperationen grundsätzlich termingerecht und im vereinbarten
			Kostenrahmen fertiggestellt. Die dafür notwendigen Kompetenzen sind ein
			effizient strukturiertes Projektmanagement, zielgenaue Kommunikation und
			transdisziplinäre Fachkenntnis. Die möglichen Leistungen bei der
			erfolgreichen Entwicklung eines Projekts umfassen die Bereiche Strategie,
			Konzeption, Projektorganisation, Inhalts- und Medienproduktion,
			Technologieentwicklung, Implementierung, langfristige Betreuung und
			öffentliche Kommunikation.
		</p>
	</HeaderTextParagraph>
	<HeaderTextParagraph>
		<div>
			<h3>Unser Ziel</h3>
		</div>
		<p>
			Wir finden praktikable Lösungen für die aktuellen und langfristigen
			Herausforderungen im Bildungs- und Kulturbereich – sei es
			Lehrkräftemangel, Inklusion, Medienbildung, Diversität, Bildung für
			nachhaltige Entwicklung, Kompetenzorientierung oder der Umgang mit
			künstlicher Intelligenz, virtuellen Realitäten und vielen anderen Themen.
		</p>
	</HeaderTextParagraph>
	<HeaderTextParagraph>
		<div>
			<h3>Unsere Digitalen Lösungen</h3>
			<h4>als Antwort auf akute Krisen</h4>
		</div>
		<p>
			Corona, Ukraine, Lehrermangel – drei Krisen aus der letzten Zeit, auf die
			wir schnell und kreativ mit spezifischen digitalen Lösungen antworten
			konnten. So entstanden z.B. Lerneinheiten für den Distanzunterricht,
			digitale Alphabetisierungs-Materialien (DaZ) und Selbstlern-Module mit
			integrierten Videolehrkräften.
		</p>
	</HeaderTextParagraph>
	<HeaderTextParagraph>
		<div>
			<h3>Unsere Geschichte</h3>
			<h4>über 10 Jahre Engagement für digitale Bildung</h4>
		</div>
		<p>
			Das Team der Digitalen Lernwelten prägt seit über zehn Jahren eine von
			Didaktik und Inhalt motivierte Digitalisierung der Bildung aktiv mit.
			Unter anderem stehen die Auszeichnungen ‘Schulbuch des Jahres’ und
			‘Digital Publishing Award’ für diesen Weg und den damit verbundenen
			Erfolg. Wir beteiligen uns aktiv und kritisch am aktuellen
			Bildungsdiskurs. Dafür nutzen wir Formate wie den Podcast ‘EduCouch’ oder
			die gestaltende Teilnahme an Tagungen und Konferenzen.
		</p>
	</HeaderTextParagraph>
	<TeamSlider 
		client:load
		headline="Kompetenzen"
		slides={
			[
				{
					name: "Geschäftsführung & Strategie",
					portraitLeftName: "Dr. Florian Sochatzy",
					portraitRightName: "Dr. Marcus Ventzke",
					portraitWide: true,
					portrait: portraitFloMarcus,
					text: `Wissen, was man tut und wie man es tut. Darin stecken die
						Voraussetzungen, denen er mit Intensität nachgeht. Immer und überall.
						Lesen, Konzepte entwickeln, Strategie reflektieren, eigene Erfahrungen
						einbringen – er gibt unserer Firma den notwendigen Drive nach vorne. So
						kann er Menschen von Ideen begeistern. Und dafür sorgen, dass immer
						etwas Spannendes auf die Agenda rückt. Langeweile ist nicht.`,
				},{
					name: "Grafik & Motion",
					portraitName: "Piera Jelinek",
					portrait: portraitPiera,
					text: `Piera interpretiert die Welt in Bildern. So weit, so gut. Hinzu kommt,
						dass sie unglaublich geduldig ist und selbst hilflose Umschreibungen des
						Gewollten präzise erfasst und umsetzt. Dabei ist ihre Bandbreite enorm:
						vom Logo über Infografik und Headerbild bis zur Animation. Um ihren
						Arbeitsplatz herum entsteht jeden Tag aufs Neue das Kreativzentrum der
						Digitalen Lernwelten.`,
				},{
					name: "Inhalt & Konzepte",
					portraitName: "Veronika Obermeier",
					portrait: portraitObi,
					text: `Piera interpretiert die Welt in Bildern. So weit, so gut. Hinzu kommt,
						dass sie unglaublich geduldig ist und selbst hilflose Umschreibungen des
						Gewollten präzise erfasst und umsetzt. Dabei ist ihre Bandbreite enorm:
						vom Logo über Infografik und Headerbild bis zur Animation. Um ihren
						Arbeitsplatz herum entsteht jeden Tag aufs Neue das Kreativzentrum der
						Digitalen Lernwelten.`,
				},{
					name: "Entwicklung & IT",
					portraitName: "Benjamin Schulenburg",
					portrait: portraitBen,
					text: `Piera interpretiert die Welt in Bildern. So weit, so gut. Hinzu kommt,
						dass sie unglaublich geduldig ist und selbst hilflose Umschreibungen des
						Gewollten präzise erfasst und umsetzt. Dabei ist ihre Bandbreite enorm:
						vom Logo über Infografik und Headerbild bis zur Animation. Um ihren
						Arbeitsplatz herum entsteht jeden Tag aufs Neue das Kreativzentrum der
						Digitalen Lernwelten.`,
				},{
					name: "Video & Audio",
					portraitName: "Fabian Hell",
					portrait: portraitFabi,
					text: `Piera interpretiert die Welt in Bildern. So weit, so gut. Hinzu kommt,
						dass sie unglaublich geduldig ist und selbst hilflose Umschreibungen des
						Gewollten präzise erfasst und umsetzt. Dabei ist ihre Bandbreite enorm:
						vom Logo über Infografik und Headerbild bis zur Animation. Um ihren
						Arbeitsplatz herum entsteht jeden Tag aufs Neue das Kreativzentrum der
						Digitalen Lernwelten.`,
				},
			]
		}
	/>
</Layout>
