---
import Layout from "../layouts/Layout.astro";
import marcus from "../assets/aboutus/marcus.png";
import { createPersonSchema } from "../lib/schema";

const description = "Lebenslauf und Publikationen von apl. Prof. Dr. Marcus Ventzke, Geschäftsführer der Digitalen Lernwelten GmbH.";
const marcusSchema = createPersonSchema({
	name: "Marcus Ventzke",
	pathname: "/marcus-ventzke-vita/",
	description,
	honorificPrefix: "apl. Prof. Dr.",
	jobTitle: "Geschäftsführer",
	image: new URL(marcus.src, Astro.site ?? "https://dilewe.de").toString(),
	knowsAbout: ["Geschichtsdidaktik", "Digitale Bildung", "Digitale Schulbücher"],
});
---

<Layout
	title="apl. Prof. Dr. Marcus Ventzke – Lebenslauf und Publikationen"
	bodyClass="index"
	description={description}
	pageType="ProfilePage"
	schema={marcusSchema}
	mainEntity={{ '@id': marcusSchema['@id'] }}
>
	<div class="vita-detail">

		<h1>apl. Prof. Dr. Marcus Ventzke</h1>
		<p class="subtitle">Lebenslauf und Publikationen</p>
		<div class="intro-with-image">
			<img src={marcus.src} alt="apl. Prof. Dr. Marcus Ventzke" class="portrait" />
			<p>Apl. Prof. Dr. Marcus Ventzke ist Wissenschaftler, Lehrer und Autor. Seit Jahren verfolgt ihn die Frage einer in die Zukunft gerichteten Bildung. Er nimmt die gesellschaftlichen und technischen Veränderungen der Welt sehr ernst und möchte eine Schule, die kein Museum des Gestrigen ist, sondern sich auf Gegenwart und Zukunft fokussiert. Deshalb fragt er sich und andere, wie eine digitale Didaktik aussehen könnte, wie man von Gruppenvermittlungen wegkommt, damit hochdifferenzierte und individuelle Lernwege möglich werden, wie sich das normative und organisatorische System der Schule moderner und kreativer gestalten lässt. Und weil er eine umfassend vernetzte Vorstellung von Lehren und Lernen hat, ist er nicht nur Hochschullehrer, sondern auch Redner, Interviewer, Fort- und Weiterbildner sowie Ausstellungskurator.</p>
		</div>
		<h2>Lebenslauf</h2>
		<table class="cv-table">
			<tbody>
				<tr><td>1991–1997</td><td>Studium Philosophie, Geschichte, Erwachsenenbildung (LA) an der Friedrich-Schiller-Universität Jena</td></tr>
				<tr><td>1998–2003</td><td>wiss. Mitarbeiter im DFG-Sonderforschungsbereich „Ereignis Weimar-Jena. Kultur um 1800"</td></tr>
				<tr><td>2003</td><td>Promotion „Das Herzogtum Sachsen-Weimar-Eisenach 1775–1883: Ein Modell aufgeklärter Herrschaft?"</td></tr>
				<tr><td>2005–2009</td><td>Internatsmentor und Gymnasiallehrer am Sächsischen Landesgymnasium St. Afra für Hoch- und Mehrfachbegabte (Fachkonferenzleiter Geschichte und Ethik)</td></tr>
				<tr><td>2009–2016</td><td>wiss. Mitarbeiter und Dozent an der Universität Eichstätt-Ingolstadt</td></tr>
				<tr><td>seit 2011</td><td>Geschäftsführender Gesellschafter Institut für digitales Lernen</td></tr>
				<tr><td>2016</td><td>Habilitation „Temporal turn. Grundlagen historischer Zeitanalysen im Prozess kompetenzorientierten Geschichtsdenkens"</td></tr>
				<tr><td>seit 2016</td><td>Privatdozent Geschichtsdidaktik und Geschichtstheorie an der Katholischen Universität Eichstätt-Ingolstadt</td></tr>
				<tr><td>seit 2017</td><td>Berater digitale Bildung Cornelsen Verlag; wiss. Begleiter der Rahmenplanentwicklung Geschichte der Deutschsprachigen Gemeinschaft Belgiens</td></tr>
				<tr><td>seit 2018</td><td>Gesellschafter und Geschäftsführer Digitale Lernwelten GmbH; Mitglied des Expertenrats des Bundesverbands Theater in Schulen</td></tr>
				<tr><td>seit 2019</td><td>Member Program committee „AVRiL – Gelungene VR/AR-Lernszenarien"</td></tr>
				<tr><td>seit 2020</td><td>stellv. Vorsitzender des Landesfachausschusses Bildung der CDU Sachsen</td></tr>
				<tr><td>2024</td><td>Ernennung zum außerplanmäßigen Professor an der Katholischen Universität Eichstätt-Ingolstadt</td></tr>
			</tbody>
		</table>

		<h2>Publikationen</h2>

		<details class="accordion">
			<summary>Bücher (Auswahl)</summary>
			<table class="cv-table">
				<tbody>
					<tr><td>2021</td><td>Ventzke, Marcus: <em>Die (Groß-)Herzöge Sachsen-Weimar-Eisenachs. Kultur als Weg in die Moderne.</em> Lindenberg i. Allgäu 2021.</td></tr>
					<tr><td>2018</td><td>Ventzke, Marcus: <em>Temporal turn. Grundlagen historischer Zeitanalysen im Prozess kompetenzorientierten Geschichtsdenkens</em> (= Gesellschaft und digitale Medien, Bd. 2), Dortmund 2018.</td></tr>
					<tr><td>2015</td><td>Ventzke, Marcus: <em>mBook-l: Geschichte denken statt pauken. Geschichtsbuch für die Sekundarstufe I an Gymnasien, Nordrhein-Westfalen (Lehrerband)</em>, hgg. von Waltraud Schreiber, Florian Sochatzy und Marcus Ventzke, Eichstätt 2015.</td></tr>
					<tr><td>2013</td><td>Ventzke, Marcus: <em>mBook Geschichte, Band: Frühe Neuzeit</em> (= mBook Geschichte – Geschichte denken statt pauken. Geschichtsbuch für die Sekundarstufe II und III der Deutschsprachigen Gemeinschaft Belgiens, hgg. von Waltraud Schreiber, Florian Sochatzy und Marcus Ventzke, Bd. 3), Eichstätt 2013.</td></tr>
					<tr><td>2008</td><td>Ventzke, Marcus; Mebus, Sylvia: <em>Geschichte für Kids. Die Vergangenheit entdecken und Geschichte selbst erleben.</em> Heidelberg 2008.</td></tr>
					<tr><td>2004</td><td>Ventzke, Marcus: <em>Das Herzogtum Sachsen-Weimar-Eisenach 1775–1783. Ein Modellfall aufgeklärter Herrschaft?</em> (= Veröffentlichungen der Historischen Kommission für Thüringen. Kleine Reihe, Bd. 10), Köln/Weimar/Wien 2004.</td></tr>
				</tbody>
			</table>
		</details>

		<details class="accordion">
			<summary>Herausgeberschaften (Auswahl)</summary>
			<table class="cv-table">
				<tbody>
					<tr><td>2013</td><td><em>mBook Geschichte – Geschichte denken statt pauken. Geschichtsbuch für die Sekundarstufe II und III der Deutschsprachigen Gemeinschaft Belgiens</em>, Bde. 1–5, hg. von Marcus Ventzke, Florian Sochatzy und Waltraud Schreiber, Eichstätt 2013.</td></tr>
					<tr><td>2010</td><td><em>Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht</em>, bearb. von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, hg. vom Sächsischen Bildungsinstitut, Radebeul 2010.</td></tr>
					<tr><td>2002</td><td>Ventzke, Marcus: <em>Hofkultur und aufklärerische Reformen in Thüringen. Die Bedeutung des Hofes im späten 18. Jahrhundert.</em> Köln/Weimar/Wien 2002.</td></tr>
					<tr><td></td><td>Zu Herausgeberschaften bei Projekten der Digitalen Lernwelten GmbH siehe <a href="/forschung/">hier</a>.</td></tr>
				</tbody>
			</table>
		</details>

		<details class="accordion">
			<summary>Aufsätze (Auswahl)</summary>
			<table class="cv-table">
				<tbody>
					<tr><td>2026</td><td>Ventzke, Marcus: <em>Inklusive Digitalisierung von Lehr- und Lernmitteln: Differenzierung – Individualisierung – Adaptivität</em>, in: Inklusive Digitalisierung. Ein interdisziplinäres Lehrbuch, hgg. von Maren Heibges, Christine Schmid und Markus A. Feufel, Berlin 2026, S. 48–59.</td></tr>
					<tr><td>2024</td><td>Ventzke, Marcus; Brinckmann, Lauritz; Ubl, Linus: <em>MMMMO – Mechthild's Medieval Mystical Manuscripts Online. Eine interaktive Kartendarstellung als digitale Überlieferungsgeschichte am Beispiel des ›Liber specialis gratiae‹ der Mechthild von Hackeborn</em>, in: Zeitschrift für digitale Geisteswissenschaften 9 (2024), 23.05.2024, HTML/XML/PDF, DOI: 10.17175/2024_002.</td></tr>
					<tr><td>2024</td><td>Ventzke, Marcus: <em>Inklusion inklusive. Potenziale digitaler Lehr- und Lernmittel</em>, in: IM+io. Best & next Practices aus Digitalisierung | Management | Wissenschaft, Heft 01/2024 „Digital Future Skills" (https://www.im-io.de/digital-future-skills/inklusion-inklusive/ [10.5.2024]).</td></tr>
					<tr><td>2024</td><td>Ventzke, Marcus: <em>Unterrichtliche Kommunikation mithilfe digitaler Lehr- und Lernmittel: Auf dem Weg vom multimedialen Contentmanagement zu adaptiven Lehr- und Lernsystemen</em>, in: Geschichtskulturen im digitalen Wandel?, hgg. von Olaf Hartung, Alexandra Krebs und Johannes Meyer-Hamme, Frankfurt am Main 2024, S. 266–292.</td></tr>
					<tr><td>2017</td><td>Ventzke, Marcus; Sochatzy, Florian: <em>Die digitale Bildungsrevolution und ihre Folgen. Veränderungen für Unterricht und Unterrichtsmaterialien</em>, in: Frank Thissen (Hg.), Lernen in virtuellen Räumen. Perspektiven des mobilen Lernens, Berlin/Boston 2017, S. 54–70.</td></tr>
					<tr><td>2016</td><td>Ventzke, Marcus; Sochatzy, Florian; Schreiber, Waltraud: <em>New technology and the potentials and limitations for constructivist instructional designers: A multimedia history textbook</em>, in: Joanna Wojdon (Hg.), E-teaching History, Newcastle upon Tyne 2016, S. 50–64.</td></tr>
					<tr><td>2015</td><td>Ventzke, Marcus; Schreiber, Waltraud; Sochatzy, Florian: <em>Das Potential digitaler Lehr- und Lernmittel für den Paradigmenwechsel Kompetenzorientierung</em>, in: Wolfgang Buchberger/Christoph Kühberger/Christoph Stuhlberger (Hg.), Nutzung digitaler Medien im Geschichtsunterricht (= Österreichische Beiträge zur Geschichtsdidaktik. Geschichte – Sozialkunde – Politische Bildung, Bd. 9), Innsbruck 2015, S. 179–197.</td></tr>
					<tr><td>2014</td><td>Ventzke, Marcus: <em>Die Zeitzeichen lesen können – historische Zeitanalyse als Voraussetzung einer sinnvollen Orientierung im Hier und Jetzt</em>, in: Ulrich Kropač/Bernhard Sill (Hg.), Zeitzeichen (= Forum K'Universale Eichstätt. Beiträge zur gesellschaftlichen Debatte, Bd. 2), St. Ottilien 2014, S. 29–58.</td></tr>
					<tr><td>2014</td><td>Ventzke, Marcus; Tomann, Juliane: <em>Praktische Geschichte / Historia Praktyczna</em>, in: Modi memorandi. Leksykon kultury pamięci, Red. von Robert Traba und Magdalena Saryusz-Wolska, Warschau 2014, S. 163–168.</td></tr>
					<tr><td>2013</td><td>Ventzke, Marcus; Schreiber, Waltraud; Sochatzy, Florian: <em>Das multimediale Schulbuch – kompetenzorientiert, individualisierbar und konstruktionstransparent</em>, in: Waltraud Schreiber, Alexander Schöner, Florian Sochatzy (Hg.), Analyse von Schulbüchern als Grundlage empirischer Geschichtsdidaktik, Stuttgart 2013, S. 212–232.</td></tr>
					<tr><td>2012</td><td>Ventzke, Marcus: <em>Begriffliches Arbeiten und ‚Geschichte denken' – theoretische Voraussetzungen und unterrichtliche Vorgehensweisen</em>, in: Christoph Kühberger (Hg.), Historisches Wissen. Geschichtsdidaktische Erkundungen zur Art, Tiefe und Umfang für das historische Lernen (= Politik und Bildung, Bd. 66), Schwalbach/Ts. 2012, S. 75–102.</td></tr>
					<tr><td>2011</td><td>Ventzke, Marcus: <em>Die Formierungsphase(n) der Angewandten Geschichte</em>, Version 1.0, in: Docupedia-Zeitgeschichte, 22.04.2011, URL: http://docupedia.de/zg/Ventzke_Kommentar_Angewandte_Geschichte?oldid=77836.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus: <em>Der Leitbegriff ‚Nation' im gymnasialen Geschichtsunterricht. Die Förderung historischer Kompetenzen durch begriffsgeschichtliches Arbeiten</em>, in: Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht, hg. vom Sächsischen Bildungsinstitut, zusammengestellt und bearbeitet von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, Radebeul 2010, S. 233–268.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus; Merkel, Frieder: <em>„Die Wende begann vor unserer Haustür." Zur Friedlichen Revolution in der Gemeinde Moritzburg</em>, in: Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht, hg. vom Sächsischen Bildungsinstitut, zusammengestellt und bearbeitet von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, Radebeul 2010, S. 209–226.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus; Mebus, Sylvia; Polak, Jakob: <em>Feindbild Deutscher!? Feindbild Pole!? – Historische Feindbilder im Geschichtsunterricht am Beispiel des deutsch-polnischen Verhältnisses</em>, in: Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht, hg. vom Sächsischen Bildungsinstitut, zusammengestellt und bearbeitet von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, Radebeul 2010, S. 269–308.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus; Mebus, Sylvia: <em>Lebenslinien in der DDR. Biographisch-politische Längsschnitte zu Lebensläufen unter diktatorischen Bedingungen</em> (unter Mitarbeit von Katja Gerhardi, Annett Heger, Oliver Müller, Kathrin Semechin, Anja Unger und Stefanie Weiß), in: Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht, hg. vom Sächsischen Bildungsinstitut, zusammengestellt und bearbeitet von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, Radebeul 2010, S. 95–161.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus: <em>Nation? Von der Wiederkehr eines alten Bekannten</em>, in: Geschichte denken statt pauken in der Sekundarstufe II. 20 Jahre nach der Friedlichen Revolution: Deutsche und europäische Perspektiven im gymnasialen Geschichtsunterricht, hg. vom Sächsischen Bildungsinstitut, zusammengestellt und bearbeitet von Marcus Ventzke, Sylvia Mebus und Waltraud Schreiber, Radebeul 2010, S. 229–231.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus; Basel, Florian: <em>Zur Rolle des Lehrenden beim Erwerb historischer De- und Rekonstruktionskompetenzen – eine Skizze</em>, in: Waltraud Schreiber und Carola Gruner (unter Mitarbeit von Robert Labhardt), GESCHICHTE DURCHDENKEN. Schüler de-konstruieren internationale Schulbücher. Das Beispiel „1989/90 – Mauerfall", Neuried 2010, S. 145–157.</td></tr>
					<tr><td>2009</td><td>Ventzke, Marcus; Langosch, Saskia; Mischner, Sabine: <em>„Soldat Adolf Hitlers und Jünger Jesu – wenn das nicht mehr möglich ist, sind die Tage Deutschlands gezählt!" – Zeitzeugenbefragungen und die Basisoperationen des Historischen Denkens</em>, in: Waltraud Schreiber, Katalin Árkossy (Hgg.), Zeitzeugengespräche führen und auswerten. Historische Kompetenzen schulen (= Themenheft Geschichte, Bd. 4), Neuried 2009, S. 103–125.</td></tr>
					<tr><td>2005</td><td>Ventzke, Marcus; Mebus, Sylvia: <em>60 Jahre danach – eine deutsche Erinnerungslandschaft am Beispiel Dresdens</em> (Schülerprojekt auf der Sekundarstufe II), in: Geschichte denken statt pauken. Didaktisch-methodische Hinweise und Materialien zur Förderung historischer Kompetenzen, zusammengestellt und bearbeitet von Sylvia Mebus und Waltraud Schreiber, hg. von der Sächsischen Akademie für Lehrerfortbildung (= Siebeneichener Diskurse, Bd. 3), Meißen 2005, S. 264–276, Materialien: Begleit-CD-R, V/2.</td></tr>
					<tr><td>2005</td><td>Ventzke, Marcus: <em>Geschichte als perspektivische und reflektierende Re-Konstruktion erfassbar machen – Anforderungen an den Geschichtsunterricht der Sekundarstufe II</em>, in: Geschichte denken statt pauken. Didaktisch-methodische Hinweise und Materialien zur Förderung historischer Kompetenzen, zusammengestellt und bearbeitet von Sylvia Mebus und Waltraud Schreiber (= Siebeneichener Diskurse, Bd. 3), Meißen 2005, S. 48–56.</td></tr>
					<tr><td>2005</td><td>Ventzke, Marcus: <em>Die Krise der Weimarer Republik im Spiegel der Dresdner Presse 1931–1932. Ein Unterrichtsbeispiel für die elfte Klasse</em>, in: Geschichte denken statt pauken. Didaktisch-methodische Hinweise und Materialien zur Förderung historischer Kompetenzen, zusammengestellt und bearbeitet von Sylvia Mebus und Waltraud Schreiber (= Siebeneichener Diskurse, Bd. 3), Meißen 2005, S. 132–140.</td></tr>
				</tbody>
			</table>
		</details>

		<details class="accordion">
			<summary>Gestaltung von Bildung, Wissenschaft und Kultur (Auswahl)</summary>
			<table class="cv-table">
				<tbody>
					<tr><td>2026</td><td><em>mGuide Kulturhistorischer Friedhof Altenburg</em>, hgg. von Stadt Altenburg, Gesamtumsetzung: Digitale Lernwelten GmbH (https://friedhof-mal-anders.de/ [20.5.2026]).</td></tr>
					<tr><td>2025</td><td><em>Lernen mit KI. Ein digitaler und interaktiver Fortbildungskurs für Lehrkräfte</em> (Open ELEC), Konzeption und Redaktion: Marcus Ventzke und Florian Sochatzy, Gesamtumsetzung: Digitale Lernwelten GmbH, Hannover/Eichstätt 2025 (https://openelec.moodle-nds.de/course/view.php?id=465 [20.5.2026]).</td></tr>
					<tr><td>2025</td><td><em>Einblicke. Hamburgs politisches System</em>, hgg. von der Landeszentrale für politische Bildung Hamburg, Gesamtumsetzung: Digitale Lernwelten GmbH, Hamburg/Eichstätt 2025 (https://einblicke-hamburg.de/inhalt/einblicke-2/index.html [20.5.2026]).</td></tr>
					<tr><td>2024</td><td><em>mPublish Vielfalt der Religionen in Sachsen. Hybride Wanderausstellung der Sächsischen Landeszentrale für politische Bildung</em>, entwickelt von Digitale Lernwelten unter Leitung von Marcus Ventzke, Dresden/Eichstätt 2024 (https://religionen-in-sachsen.slpb.de/ [10.8.2024]).</td></tr>
					<tr><td>2024</td><td><em>Erinnerungskarte Flucht und Vertreibung</em>, hg. von Marcus Ventzke (Digitale Lernwelten GmbH) im Auftrag von Bund der Vertriebenen (BdV), Landesverband Hessen e.V., Eichstätt 2024.</td></tr>
					<tr><td>2024</td><td><em>AudioWALK Neue Landschaft Ronneburg</em>, im Auftrag der Universität Regensburg, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt 2024 (https://ronneburg.dilewe.de/ [20.5.2026]).</td></tr>
					<tr><td>2024</td><td><em>netBook Deutsch für die 5. und 6. Jahrgangsstufe</em>, hgg. von Marcus Ventzke und Florian Sochatzy, Eichstätt 2024 (https://netbook-deutsch.de/ [10.5.2025]).</td></tr>
					<tr><td>2023</td><td><em>mPublish Die andere DDR-Jugend – Unangepasst, eigensinnig, anders. Interaktiv-multimediale Publikation zum Leben Jugendlicher in der DDR</em>, Gesamtumsetzung: Digitale Lernwelten GmbH, Leipzig/Eichstätt 2023 (https://dieanderejugend.de [10.5.2025]).</td></tr>
					<tr><td>2023</td><td><em>KOSMOS. Die Kraft des Staunens. XR-Portal zur Entwicklung der Menschheit</em>, entwickelt und betrieben von Digitale Lernwelten GmbH, gefördert durch das BMBF, Eichstätt/Roldisleben 2023 (https://spiegelarche.dilewe.de/ [10.8.2023]).</td></tr>
					<tr><td>2023</td><td><em>mPublish GeoRegio EMR. Digital-multimedial-interaktives Schulbuch für den nachbarsprachlichen Geographie-Unterricht in der Euregio Maas Rhein</em>, hgg. für EVTZ Euregio Maas-Rhein von Johannes Grapentin, Marcus Ventzke und Florian Sochatzy, Gesamtumsetzung: Digitale Lernwelten GmbH, Aachen/Eupen/Limburg 2023 (https://geografie.dilewe.de/inhalt/startseite/index.html [1.11.2023]).</td></tr>
					<tr><td>2023</td><td><em>mPublish Flucht und Vertreibung im europäischen Kontext</em>, hgg. von Marcus Ventzke, Lukas Epperlein, Florian Sochatzy und Johannes Grapentin, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt 2023 (https://fluchtundvertreibung.dilewe.de/ [1.8.2023]).</td></tr>
					<tr><td>2022</td><td><em>mPublish Demokratie – Medien – Persönlichkeit. Digital-multimedial-interaktives Lernmaterial zur historisch-politischen Bildung in Hessen</em>, hgg. von Marcus Ventzke und Florian Sochatzy, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt 2022 (https://demokratie-bildung-hessen.de/dbhessen/inhalt/startseite/index.html [1.10.2022]).</td></tr>
					<tr><td>2021</td><td>Ventzke, Marcus (Hg. im Auftrag des IDRH Hessen): <em>Interaktives Informationsportal Russlanddeutsche in Hessen – ein digitales Angebot zu Geschichte, Gegenwart und Zukunft der Russlanddeutschen. Digital-multimediales Projekt für Orientierungs- und Identitätsfindungsprozesse im Rahmen teilhabefördernder Jugendarbeit</em>, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt 2021 (https://russlanddeutsche-hessen.de/ [1.12.2021]).</td></tr>
					<tr><td>2021</td><td><em>mPublish Neustadt an der Weinstraße und der Nationalsozialismus. „Volksgemeinschaft" in der Gauhauptstadt. Digital-multimediale Publikation</em>, hgg. von der Johannes Gutenberg-Universität Mainz, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt/Mainz 2021 (https://neustadt-und-nationalsozialismus.uni-mainz.de/ [5.12.2021]).</td></tr>
					<tr><td>2020ff.</td><td>Sochatzy, Florian; Grapentin, Johannes (Hg.): <em>eLearning Module Freistaat Sachsen</em>, Gesamtumsetzung: Digitale Lernwelten GmbH, Eichstätt 2020ff. (https://module-sachsen.dilewe.de/ [30.10.2023]).</td></tr>
				</tbody>
			</table>
		</details>

		<details class="accordion">
			<summary>Vorträge (Auswahl)</summary>
			<table class="cv-table">
				<tbody>
					<tr><td>2025</td><td><em>Digitale Orientierung – Der Bauernkrieg in multimedialen Lernszenarien.</em> Kolloquium anlässlich des Bauernkriegsjubiläums „500 Jahre Bauernkrieg. Die Freiheit zurückholen, Reaktanz gegen die da oben", Schloss Bad Frankenhausen, 24.–26.09.2025.</td></tr>
					<tr><td>2024</td><td><em>Inklusive Digitalisierung von Lehr- und Lernmitteln: Differenzierung – Individualisierung – Adaptivität.</em> Seminarreihe „Inklusive Digitalisierung", Institut für Psychologie und Arbeitswissenschaft, Fachgebiet Arbeitswissenschaft, Technische Universität Berlin, 26.01.2024.</td></tr>
					<tr><td>2024</td><td><em>Erwartungen an kirchliche Bildungsmitverantwortung</em> (Podiumsdiskussion) sowie Workshop <em>KI, AI & Co – Wohin steuert Bildung?</em> Futorum Bildungsforum 2024 der Evangelischen Landeskirche in Württemberg „Evangelische Bildung stärken und weiterentwickeln", Stuttgart, 22.03.2024.</td></tr>
					<tr><td>2023</td><td><em>Fürstenherrschaft und Kultur – der Weg Weimars in die Moderne.</em> Maria Gesellschaft e.V., Weimar, 16.02.2023.</td></tr>
					<tr><td>2023</td><td><em>Vom multimedialen zum adaptiven Schulbuch: Wo stehen wir zehn Jahre nach dem Erscheinen des mBooks?</em> pub&amp;print, Leipzig, 22.03.2023.</td></tr>
					<tr><td>2022</td><td><em>Schule – quo vadis? Bildung digital gestalten.</em> Tagung der Museumsakademie Universalmuseum Joanneum Graz „Den Lernort Museum erweitern. Digitale Formate für Schulen", Graz, 11.03.2022.</td></tr>
					<tr><td>2022</td><td><em>Doch, es geht – multimediale Unterrichtsmaterialien an weiterführenden Schulen.</em> Fachtagung „Schule in einer Kultur der Digitalität gestalten", Institut für Lehrerfortbildung, Lehrplanentwicklung und Medien des Freistaates Thüringen (ThILLM) und Thüringer Landesmedienanstalt, Bad Blankenburg, 11.05.2022.</td></tr>
					<tr><td>2022</td><td><em>Erfahrungen bei der Gestaltung des Historischen in einem digitalen Geschichtsschulbuch. Mit dem mBook Geschichte denken – differenziert, individualisiert, vernetzt.</em> Tagung „Geschichte im digitalen Wandel? Geschichtskultur – Erinnerungspraktiken – Historisches Lernen", Bereich Theorie und Didaktik der Geschichte, Universität Paderborn, 04.06.2022.</td></tr>
					<tr><td>2022</td><td><em>Meistererzählungen und Triftigkeiten. Zur Organisationsform des Mediums beim Übergang in die Welt digitaler (Geschichts-)Publikationen.</em> Kolloquium anlässlich des 70. Geburtstages von Georg Schmidt, Goethe-Schiller-Archiv / Klassik Stiftung Weimar, 24.06.2022.</td></tr>
					<tr><td>2022</td><td><em>Chancen und Grenzen digitaler Medien.</em> Netzwerktagung InLiVe-Netzwerk (Innovative Lernumgebungen im Verbund) Franken – Thüringen „Grundschule – digital", Augustinerkloster Erfurt, 22.09.2022.</td></tr>
					<tr><td>2021</td><td><em>Schulbuch adé – ein Fachgespräch.</em> Digital X, Köln, 08.09.2021.</td></tr>
					<tr><td>2021</td><td><em>Digitalisierung im Fachunterricht – Geschichte.</em> Fortbildung des Landesamtes für Schule und Bildung Sachsen, 26.11.2021.</td></tr>
					<tr><td>2020</td><td><em>Visionen zu einer Lernkultur des 21. Jahrhunderts: Geschichte lernen in Virtueller Realität.</em> Tagung des Ministeriums für Schule und Bildung des Landes Nordrhein-Westfalen / ZfsL-Leitungen „Wie können wir der Entwicklung von Schlüsselkompetenzen des 21. Jahrhunderts Raum geben?", 28.–29.01.2020.</td></tr>
					<tr><td>2019</td><td><em>Lernprozessinnovationen – mehr als nur Video gucken?</em> 29. Hagener Hochschulgespräche „Lernen (wieder-)lernen!", Fachhochschule Südwestfalen, Hagen, 14.01.2019.</td></tr>
					<tr><td>2019</td><td><em>Potentiale und Herausforderungen digitalen Lernens.</em> Futurologischer Kongress und 40. Schultheaterfestival Ingolstadt, Ingolstadt, 04.07.2019.</td></tr>
					<tr><td>2019</td><td><em>Digitale Didaktik.</em> Festival of Learning „Space & New Frontiers", DAI Heidelberg, Haus der Kultur, Heidelberg, 20.07.2019.</td></tr>
					<tr><td>2018</td><td><em>Bildungsfragen der Zukunft – Konzeptidee „Virtual School".</em> Landesdezernentenkonferenz Lehrerausbildung und Lehrerfortbildung Nordrhein-Westfalen, Düsseldorf, 25.04.2018.</td></tr>
					<tr><td>2018</td><td><em>Den Unterricht auf der Inhaltsebene digitalisieren – Erfahrungen mit dem digital-multimedialen Schulbuch.</em> Seminartag digitale Bildung, Thüringer Institut für Lehrerfortbildung, Lehrplanentwicklung und Medien, 06.08.2018.</td></tr>
					<tr><td>2017</td><td><em>AR, VR, MR in der Bildungswelt.</em> Orbanism Space „So können Verlage von Virtual Reality und 360°-Video profitieren", Frankfurter Buchmesse, Frankfurt am Main, 11.10.2017.</td></tr>
					<tr><td>2017</td><td><em>Bildung in Zeiten der digitalen Revolution.</em> Schwäbischer Schulentwicklungstag „Alles 4.0? Lernen und Lehren im digitalen Wandel", Diedorf, 20.10.2017.</td></tr>
					<tr><td>2017</td><td><em>Das mBook – ein digitales und interaktives Schulbuch.</em> Fachtagung „Lernräume digital gestalten", Deutsche Kinder- und Jugendstiftung – LiGa Sachsen-Anhalt, Wolmirstedt, 26.10.2017.</td></tr>
					<tr><td>2016</td><td><em>Lernmittel Geschichte: Israel im mBook.</em> Fachtagung „Israel und der Holocaust in Lernmitteln", Medienberatung Nordrhein-Westfalen, Bildungspartner NRW, Düsseldorf, 22.06.2016.</td></tr>
					<tr><td>2016</td><td>Ventzke, Marcus; Bräuer, Benjamin: <em>Orientierendes historisches Denken und sein normativer Bezug.</em> Normative Fragen von Geschichte. Workshop des AK ‚Geschichtsdidaktik theoretisch', Freie Universität Berlin, 6.–8.4.2016.</td></tr>
					<tr><td>2015</td><td><em>Geschichte im digitalen Medium.</em> Tagung „Von den Rahmenrichtlinien zum kompetenzorientierten Lehrplan im Geschichtsunterricht – Zur Entwicklung geschichtskultureller Kompetenz", Landesinstitut für Schulqualität und Lehrerbildung Sachsen-Anhalt, Halle, 16.–18.03.2015.</td></tr>
					<tr><td>2015</td><td><em>Digitale Schulbücher im Unterricht? Probleme – Chancen – Potentiale.</em> 29. Archivpädagogenkonferenz des Verbands deutscher Archivarinnen und Archivare „Historische Bildungsarbeit digital – Erwartungen, Praxis, Perspektiven", Bundesarchiv, Koblenz, 08.–09.05.2015.</td></tr>
					<tr><td>2015</td><td><em>Weiterbildungsserie der Medienberatung NRW zur Implementierung des mBooks Geschichte an 40 Pilotschulen.</em> Workshop I, 9.–11. Februar 2015 in Düsseldorf, Münster und Soest.</td></tr>
					<tr><td>2015</td><td><em>Digital-Multimediale Schulbücher, digitaler Wandel und Konstruktionsdidaktik im Fach Geschichte.</em> Geschichte und digitale Medien, Eichstätt, 16.01.2015.</td></tr>
					<tr><td>2015</td><td><em>Geschichte im digitalen Medium.</em> Halle, Landesinstitut für Schulqualität und Lehrerbildung Sachsen-Anhalt, 16.–18.03.2015.</td></tr>
					<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>Auf dem Weg zu digital-multimedialen Lehr- und Lernmitteln für kompetenzorientiertes inklusives Unterrichten und Lernen.</em> Kriterien für Lernmittel des Gemeinsamen Lernens, Düsseldorf.</td></tr>
					<tr><td>2014</td><td><em>Medialität der Geschichtsdidaktik – Wie hält der digitale Wandel Einzug in Geschichtsmedien und Schulbücher?</em> Geschichte Lernen digital, Universität zu Köln.</td></tr>
					<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>mBook NRW – ein digitales Lernangebot und seine Wirksamkeit für Lehr- und Lernkompetenzen.</em> Bildungskongress „Gemeinsames Lernen vielfältig gestaltet", Köln, 8.3.2014.</td></tr>
					<tr><td>2013</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Warum Erster Weltkrieg, was auswählen, wie unterrichten?</em> 14. Eichstätter Kontaktstudium, Freising, 14.–15.10.2013.</td></tr>
					<tr><td>2011</td><td><em>Genie und Lumpen: Kleinstaatliche Finanzlage und Wirtschaftspolitik der späten Aufklärungszeit am Beispiel des klassischen Weimar.</em> Forschungskolloquium, Goethe-Universität Frankfurt, 28.06.2011.</td></tr>
					<tr><td>2011</td><td><em>Begriffe lernen – eine Einführung.</em> Kompetenzorientierter Geschichtsunterricht auf der Sekundarstufe I, Meißen-Siebeneichen, 14.–15.03.2011.</td></tr>
					<tr><td>2011</td><td><em>Angewandte Geschichte – ein Aufklärungsprojekt.</em> Forum Angewandte Geschichte, Europa-Universität Viadrina Frankfurt (Oder), 17.–18.02.2011.</td></tr>
					<tr><td>2010</td><td><em>Der Projekttag zum 9. November zwischen politischem Bildungsanspruch und historischer Orientierungskompetenz.</em> Auftaktveranstaltung zum bundesweiten Projekttag, Sächsischer Landtag Dresden, 27.09.2010.</td></tr>
					<tr><td>2010</td><td><em>Einführung und Moderation der Tagung „Theoretische Grundlagen begrifflichen Arbeitens im Geschichtsunterricht".</em> Fachtagung des Sächsischen Bildungsinstituts, Meißen-Siebeneichen, 19.–21.08.2010.</td></tr>
					<tr><td>2010</td><td>Ventzke, Marcus: <em>Der ‚Ereignis'-Begriff als Chance für eine Revitalisierung der frühneuzeitlichen Geschichte des alten Reichs im Unterricht.</em> Kolloquium des SFB 482, Friedrich-Schiller-Universität Jena, 25.05.2010.</td></tr>
					<tr><td>2010</td><td><em>Geschichte hat Konjunktur und wird zum Popereignis.</em> Akademische Woche des Landesgymnasiums St. Afra, Meißen, 04.02.2010.</td></tr>
					<tr><td>2009</td><td><em>Wende in der ‚Provinz': Gab es das?</em> Ausstellungsprojekt „Die ‚Wende' begann vor unserer Haustür", Meißen/Moritzburg.</td></tr>
					<tr><td>2009</td><td><em>Quellen und Kompetenzerwerb konkret: Das Biedermeier multiperspektivisch.</em> 10. Eichstätter Kontaktstudium, KU Eichstätt-Ingolstadt, 19.–21.10.2009.</td></tr>
					<tr><td>2009</td><td><em>Quellen und Kompetenzerwerb konkret: Filme aus und über die DDR.</em> 10. Eichstätter Kontaktstudium, KU Eichstätt-Ingolstadt, 19.–21.10.2009.</td></tr>
					<tr><td>2009</td><td><em>Das Bildungswesen in der DDR: Zwischen Fortschrittsideologie und Indoktrination.</em> Moritzburger Podiumsdiskussions-Reihe, Moritzburg, 23.06.2009.</td></tr>
					<tr><td>2008</td><td><em>Die Bedeutung des Nationalen am Beispiel des deutsch-polnischen Verhältnisses.</em> Fachtagung des Sächsischen Bildungsinstituts, Schloss Siebeneichen, Meißen, 10.–11.10.2008.</td></tr>
					<tr><td>2008</td><td><em>Die Nation im 21. Jahrhundert – Zur gegenwärtigen geschichtsdidaktischen Bedeutung einer traditionellen Orientierungskategorie.</em> Fachtagung des Sächsischen Bildungsinstituts, Meißen, 10.–11.10.2008.</td></tr>
				</tbody>
			</table>
		</details>

		<br/>

		<a href="/" class="back-link">Zurück zur Startseite</a>
	</div>
</Layout>

<style>
	.vita-detail {
		max-width: 800px;
		margin: 0 auto;
		padding: 3rem 2rem 4rem;
	}

	.back-link {
		text-decoration: none;
		text-transform: uppercase;
		color: var(--tertiary, #027AAD);
		font-size: 0.85rem;
		letter-spacing: 0.04em;
		display: inline-block;
		margin-bottom: 2rem;
	}

	.back-link:hover {
		text-decoration: underline;
	}

	h1 {
		font-size: 1.8rem;
		margin: 0 0 0.3rem;
		line-height: 1.3;
	}

	.subtitle {
		font-size: 1.1rem;
		color: #666;
		margin: 0 0 2rem;
	}

	.intro-with-image {
		display: flex;
		gap: 2rem;
		align-items: flex-end;
		margin-bottom: 2rem;
	}

	.intro-with-image p {
		margin: 0;
	}

	.portrait {
		width: 330px;
		min-width: 330px;
		border-radius: 4px;
	}

	@media (max-width: 600px) {
		.intro-with-image {
			flex-direction: column;
		}
		.portrait {
			width: 100%;
			min-width: unset;
			max-width: 260px;
		}
	}

	h2 {
		font-size: 1.3rem;
		margin: 2.5rem 0 0.75rem;
	}

	h3 {
		font-size: 1.1rem;
		margin: 2rem 0 0.5rem;
	}

	p {
		font-size: 1rem;
		color: #555;
		line-height: 1.8;
		margin: 0 0 1rem;
	}

	.cv-table {
		width: 100%;
		border-collapse: collapse;
		margin: 1rem 0 2rem;
	}

	.cv-table td {
		padding: 0.75rem 1rem;
		font-size: 0.95rem;
		color: #555;
		line-height: 1.6;
		vertical-align: top;
		border-bottom: 1px solid #eee;
	}

	.cv-table td:first-child {
		white-space: nowrap;
		font-weight: 500;
		color: var(--primary);
		width: 1%;
	}

	@media (max-width: 600px) {
		.cv-table td {
			display: block;
			padding: 0.3rem 0;
			border-bottom: none;
		}
		.cv-table tr {
			display: block;
			margin-bottom: 1rem;
			padding-bottom: 0.75rem;
			border-bottom: 1px solid #eee;
		}
	}

	.accordion {
		border-top: 1px solid #ddd;
		padding: 1rem 0;
	}

	.accordion:last-of-type {
		border-bottom: 1px solid #ddd;
	}

	.accordion summary {
		font-size: 1.2rem;
		font-weight: 500;
		color: var(--primary);
		cursor: pointer;
		list-style: none;
		display: flex;
		align-items: center;
		gap: 0.6rem;
	}

	.accordion summary::-webkit-details-marker {
		display: none;
	}

	.accordion summary::before {
		content: '+';
		font-size: 1.4rem;
		line-height: 1;
		color: var(--primary);
	}

	.accordion[open] summary::before {
		content: '–';
	}

	.accordion .placeholder {
		font-style: italic;
		color: #888;
		margin: 1rem 0 0;
	}
</style>
