---
import Layout from "../layouts/Layout.astro";
import marcus from "../assets/aboutus/marcus.png";
import { createPersonSchema } from "../lib/schema";

const description = "Lebenslauf und Publikationen von apl. Prof. Dr. Marcus Ventzke, Geschäftsführer der Digitalen Lernwelten GmbH.";
const marcusSchema = createPersonSchema({
	name: "Marcus Ventzke",
	pathname: "/marcus-ventzke-vita/",
	description,
	honorificPrefix: "apl. Prof. Dr.",
	jobTitle: "Geschäftsführer",
	image: new URL(marcus.src, Astro.site ?? "https://dilewe.de").toString(),
	knowsAbout: ["Geschichtsdidaktik", "Digitale Bildung", "Digitale Schulbücher"],
});
---

<Layout
	title="apl. Prof. Dr. Marcus Ventzke – Lebenslauf und Publikationen"
	bodyClass="index"
	description={description}
	pageType="ProfilePage"
	schema={marcusSchema}
	mainEntity={{ '@id': marcusSchema['@id'] }}
>
	<div class="vita-detail">

		<h1>apl. Prof. Dr. Marcus Ventzke</h1>
		<p class="subtitle">Lebenslauf und Publikationen</p>
		<div class="intro-with-image">
			<img src={marcus.src} alt="apl. Prof. Dr. Marcus Ventzke" class="portrait" />
			<p>Apl. Prof. Dr. Marcus Ventzke ist Wissenschaftler, Lehrer und Autor. Seit Jahren verfolgt ihn die Frage einer in die Zukunft gerichteten Bildung. Er nimmt die gesellschaftlichen und technischen Veränderungen der Welt sehr ernst und möchte eine Schule, die kein Museum des Gestrigen ist, sondern sich auf Gegenwart und Zukunft fokussiert. Deshalb fragt er sich und andere, wie eine digitale Didaktik aussehen könnte, wie man von Gruppenvermittlungen wegkommt, damit hochdifferenzierte und individuelle Lernwege möglich werden, wie sich das normative und organisatorische System der Schule moderner und kreativer gestalten lässt. Und weil er eine umfassend vernetzte Vorstellung von Lehren und Lernen hat, ist er nicht nur Privatdozent, sondern auch Redner, Interviewer, Fort- und Weiterbildner sowie Ausstellungskurator.</p>
		</div>
		<h2>Lebenslauf</h2>
		<table class="cv-table">
			<tbody>
				<tr><td>1991–1997</td><td>Studium Philosophie, Geschichte, Erwachsenenbildung (LA) an der Friedrich-Schiller-Universität Jena</td></tr>
				<tr><td>1998–2003</td><td>wiss. Mitarbeiter im DFG-Sonderforschungsbereich „Ereignis Weimar-Jena. Kultur um 1800"</td></tr>
				<tr><td>2003</td><td>Promotion „Das Herzogtum Sachsen-Weimar-Eisenach 1775–1883: Ein Modell aufgeklärter Herrschaft?"</td></tr>
				<tr><td>2005–2009</td><td>Internatsmentor und Gymnasiallehrer am Sächsischen Landesgymnasium St. Afra für Hoch- und Mehrfachbegabte (Fachkonferenzleiter Geschichte und Ethik)</td></tr>
				<tr><td>2009–2016</td><td>wiss. Mitarbeiter und Dozent an der Universität Eichstätt-Ingolstadt</td></tr>
				<tr><td>seit 2011</td><td>Geschäftsführender Gesellschafter Institut für digitales Lernen</td></tr>
				<tr><td>2016</td><td>Habilitation „Temporal turn. Grundlagen historischer Zeitanalysen im Prozess kompetenzorientierten Geschichtsdenkens"</td></tr>
				<tr><td>seit 2016</td><td>Privatdozent Geschichtsdidaktik und Geschichtstheorie an der Katholischen Universität Eichstätt-Ingolstadt</td></tr>
				<tr><td>seit 2017</td><td>Berater digitale Bildung Cornelsen Verlag; wiss. Begleiter der Rahmenplanentwicklung Geschichte der Deutschsprachigen Gemeinschaft Belgiens</td></tr>
				<tr><td>seit 2018</td><td>Gesellschafter und Geschäftsführer Digitale Lernwelten GmbH; Mitglied des Expertenrats des Bundesverbands Theater in Schulen</td></tr>
				<tr><td>seit 2019</td><td>Member Program committee „AVRiL – Gelungene VR/AR-Lernszenarien"</td></tr>
				<tr><td>seit 2020</td><td>stellv. Vorsitzender des Landesfachausschusses Bildung der CDU Sachsen</td></tr>
				<tr><td>2024</td><td>Ernennung zum außerplanmäßigen Professor an der Katholischen Universität Eichstätt-Ingolstadt</td></tr>
			</tbody>
		</table>

		<h2>Publikationen</h2>

		<h3>Bücher</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2015</td><td>Ventzke, Marcus: <em>mBook-L: eine digitale Lehrerhandreichung zum mBook Nordrhein-Westfalen.</em> Eichstätt: Institut für digitales Lernen.</td></tr>
				<tr><td>2014</td><td>Lina, Stephan; Ventzke, Marcus; Sochatzy, Florian; Grapentin, Johannes; Günther, Michael: <em>m-Book Geschichte NRW – Vom Ersten Weltkrieg bis heute.</em> Hrsg.: Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus. Eichstätt: Institut für digitales Lernen. (mBook Geschichte für die Sekundarstufe I des Gymnasiums NRW)</td></tr>
				<tr><td>2014</td><td>Ventzke, Marcus; Kneser, Lukas; Heinz, Benjamin; Ubl, Linus; Sochatzy, Florian: <em>m-Book Geschichte NRW – Vom Mittelalter bis in den Ersten Weltkrieg.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt: Institut für digitales Lernen.</td></tr>
				<tr><td>2014</td><td>Ventzke, Marcus; Sochatzy, Florian; Kneser, Lukas; Bräuer, Benjamin: <em>m-Book Geschichte NRW – Von den Frühen Kulturen bis ins Mittelalter.</em> Hrsg.: Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus. Eichstätt: Institut für digitales Lernen.</td></tr>
				<tr><td>2013</td><td>Raasch, Markus; Kneser, Lukas; Lejeune, Carlo; Ventzke, Marcus; Sochatzy, Florian: <em>mBook Geschichte – das 20. und 21. Jahrhundert.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Raasch, Markus; Ventzke, Marcus; Sochatzy, Florian; Kneser, Lukas; Sipl, Stefan: <em>mBook Geschichte – das lange 19. Jahrhundert.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Ventzke, Marcus; Sochatzy, Florian; Gramsch, Robert; Kretzschmar, Sebastian; Heinz, Benjamin; Kneser, Lukas: <em>mBook Geschichte – das Mittelalter.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Sochatzy, Florian; Ventzke, Marcus; Bräuer, Benjamin; Grapentin, Johannes: <em>mBook Geschichte – die Antike.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2013</td><td>Ventzke, Marcus: <em>mBook Geschichte – die Frühe Neuzeit.</em> Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian. Eichstätt.</td></tr>
				<tr><td>2012</td><td>Ventzke, Marcus: <em>Strukturierungsvorschlag zum Thema „Religion und Herrschaft im europäischen Mittelalter".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Ministerium der Deutschsprachigen Gemeinschaft Belgiens / Abteilung Unterricht, Ausbildung und Beschäftigung. Eichstätt, 29 S.</td></tr>
				<tr><td>2012</td><td>Ventzke, Marcus: <em>Strukturierungsvorschlag zum Thema „Von der ersten Industriellen Revolution im 18./19. Jahrhundert bis zur vierten Industriellen Revolution in der Gegenwart".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Eichstätt, 34 S.</td></tr>
				<tr><td>2012</td><td>Walkshofer, Sandra; Wenzl, Anna; Ventzke, Marcus: <em>Strukturierungsvorschlag zum Thema „Zusammenleben und kulturelle Leistungen in einer Hochkultur".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Eichstätt, 36 S.</td></tr>
				<tr><td>2011</td><td>Ventzke, Marcus: <em>Strukturierungsvorschlag zum Thema „17 Provinzen".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Eichstätt, 24 S.</td></tr>
				<tr><td>2011</td><td>Ventzke, Marcus: <em>Strukturierungsvorschlag zum Thema „Reformation".</em> Rahmenplan Geschichte, 1. Stufe der Sekundarschule. Eichstätt, 25 S.</td></tr>
				<tr><td>2010</td><td>Ventzke, Marcus; Mebus, Sylvia; Schreiber, Waltraud: <em>Geschichte denken statt pauken in der Sekundarstufe II: 20 Jahre nach der Friedlichen Revolution.</em> Radebeul: Sächsisches Bildungsinstitut, 349 S.</td></tr>
				<tr><td>2010</td><td>Anders, Petra; Sochatzy, Florian; Ventzke, Marcus: <em>Unterrichtsmaterial „Ernst Thälmann – Führer seiner Klasse".</em> Ludwigsfelde-Struvehof: LISUM, 30 S. (Vergangenheit verstehen, Demokratiebewusstsein stärken. Die DDR im (DEFA-)Film)</td></tr>
				<tr><td>2010</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus; Wenzl, Anna: <em>Unterrichtsmaterial „Sonnenallee".</em> Ludwigsfelde-Struvehof: LISUM, 34 S.</td></tr>
				<tr><td>2008</td><td>Mebus, Sylvia; Ventzke, Marcus: <em>Geschichte für Kids: die Vergangenheit entdecken und Geschichte selbst erleben.</em> Heidelberg: bhv. ISBN 3-8266-8639-X</td></tr>
				<tr><td>2004</td><td>Ventzke, Marcus: <em>Das Herzogtum Sachsen-Weimar-Eisenach 1775–1783: ein Modellfall aufgeklärter Herrschaft?</em> Köln / Weimar / Wien: Böhlau, X, 544 S. (Veröffentlichungen der Historischen Kommission für Thüringen, Kleine Reihe; 10). ISBN 3-412-08603-7</td></tr>
				<tr><td>2002</td><td>Hrsg.: Ventzke, Marcus: <em>Hofkultur und aufklärerische Reformen in Thüringen: die Bedeutung des Hofes im späten 18. Jahrhundert.</em> Köln / Weimar / Wien: Böhlau. ISBN 3-412-04802-X</td></tr>
			</tbody>
		</table>

		<h3>Vorträge</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2016</td><td>Ventzke, Marcus; Bräuer, Benjamin: <em>Orientierendes historisches Denken und sein normativer Bezug.</em> Normative Fragen von Geschichte. Workshop des AK ‚Geschichtsdidaktik theoretisch', Freie Universität Berlin, 6.–8.4.2016.</td></tr>
				<tr><td>2015</td><td><em>Weiterbildungsserie der Medienberatung NRW zur Implementierung des mBooks Geschichte an 40 Pilotschulen.</em> Workshop I, 9.–11. Februar 2015 in Düsseldorf, Münster und Soest.</td></tr>
				<tr><td>2015</td><td><em>Digital-Multimediale Schulbücher, digitaler Wandel und Konstruktionsdidaktik im Fach Geschichte.</em> Geschichte und digitale Medien, Eichstätt, 16.01.2015.</td></tr>
				<tr><td>2015</td><td><em>Geschichte im digitalen Medium.</em> Halle, Landesinstitut für Schulqualität und Lehrerbildung Sachsen-Anhalt, 16.–18.03.2015.</td></tr>
				<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>Auf dem Weg zu digital-multimedialen Lehr- und Lernmitteln für kompetenzorientiertes inklusives Unterrichten und Lernen.</em> Kriterien für Lernmittel des Gemeinsamen Lernens, Düsseldorf.</td></tr>
				<tr><td>2014</td><td><em>Medialität der Geschichtsdidaktik – Wie hält der digitale Wandel Einzug in Geschichtsmedien und Schulbücher?</em> Geschichte Lernen digital, Universität zu Köln.</td></tr>
				<tr><td>2014</td><td>Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>mBook NRW – ein digitales Lernangebot und seine Wirksamkeit für Lehr- und Lernkompetenzen.</em> Bildungskongress „Gemeinsames Lernen vielfältig gestaltet", Köln, 8.3.2014.</td></tr>
				<tr><td>2013</td><td>Sochatzy, Florian; Ventzke, Marcus: <em>Warum Erster Weltkrieg, was auswählen, wie unterrichten?</em> 14. Eichstätter Kontaktstudium, Freising, 14.–15.10.2013.</td></tr>
				<tr><td>2011</td><td><em>Genie und Lumpen: Kleinstaatliche Finanzlage und Wirtschaftspolitik der späten Aufklärungszeit am Beispiel des klassischen Weimar.</em> Forschungskolloquium, Goethe-Universität Frankfurt, 28.06.2011.</td></tr>
				<tr><td>2011</td><td><em>Begriffe lernen – eine Einführung.</em> Kompetenzorientierter Geschichtsunterricht auf der Sekundarstufe I, Meißen-Siebeneichen, 14.–15.03.2011.</td></tr>
				<tr><td>2011</td><td><em>Angewandte Geschichte – ein Aufklärungsprojekt.</em> Forum Angewandte Geschichte, Europa-Universität Viadrina Frankfurt (Oder), 17.–18.02.2011.</td></tr>
				<tr><td>2010</td><td><em>Der Projekttag zum 9. November zwischen politischem Bildungsanspruch und historischer Orientierungskompetenz.</em> Auftaktveranstaltung zum bundesweiten Projekttag, Sächsischer Landtag Dresden, 27.09.2010.</td></tr>
				<tr><td>2010</td><td><em>Einführung und Moderation der Tagung „Theoretische Grundlagen begrifflichen Arbeitens im Geschichtsunterricht".</em> Fachtagung des Sächsischen Bildungsinstituts, Meißen-Siebeneichen, 19.–21.08.2010.</td></tr>
				<tr><td>2010</td><td>Ventzke, Marcus: <em>Der ‚Ereignis'-Begriff als Chance für eine Revitalisierung der frühneuzeitlichen Geschichte des alten Reichs im Unterricht.</em> Kolloquium des SFB 482, Friedrich-Schiller-Universität Jena, 25.05.2010.</td></tr>
				<tr><td>2010</td><td><em>Geschichte hat Konjunktur und wird zum Popereignis.</em> Akademische Woche des Landesgymnasiums St. Afra, Meißen, 04.02.2010.</td></tr>
				<tr><td>2009</td><td><em>Wende in der ‚Provinz': Gab es das?</em> Ausstellungsprojekt „Die ‚Wende' begann vor unserer Haustür", Meißen/Moritzburg.</td></tr>
				<tr><td>2009</td><td><em>Quellen und Kompetenzerwerb konkret: Das Biedermeier multiperspektivisch.</em> 10. Eichstätter Kontaktstudium, KU Eichstätt-Ingolstadt, 19.–21.10.2009.</td></tr>
				<tr><td>2009</td><td><em>Quellen und Kompetenzerwerb konkret: Filme aus und über die DDR.</em> 10. Eichstätter Kontaktstudium, KU Eichstätt-Ingolstadt, 19.–21.10.2009.</td></tr>
				<tr><td>2009</td><td><em>Das Bildungswesen in der DDR: Zwischen Fortschrittsideologie und Indoktrination.</em> Moritzburger Podiumsdiskussions-Reihe, Moritzburg, 23.06.2009.</td></tr>
				<tr><td>2008</td><td><em>Die Bedeutung des Nationalen am Beispiel des deutsch-polnischen Verhältnisses.</em> Fachtagung des Sächsischen Bildungsinstituts, Schloss Siebeneichen, Meißen, 10.–11.10.2008.</td></tr>
				<tr><td>2008</td><td><em>Die Nation im 21. Jahrhundert – Zur gegenwärtigen geschichtsdidaktischen Bedeutung einer traditionellen Orientierungskategorie.</em> Fachtagung des Sächsischen Bildungsinstituts, Meißen, 10.–11.10.2008.</td></tr>
			</tbody>
		</table>

		<h3>Artikel</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2015</td><td>Ventzke, Marcus; Thielen, Bernadette: <em>NRW 4.0: Entwicklung und Erprobung digitaler Schulbücher – Das Beispiel mBook NRW.</em> In: Schule NRW: Amtsblatt des Ministeriums für Schule und Weiterbildung, Bd. 67, Heft 3, S. 113–115. ISSN 1615-309X</td></tr>
				<tr><td></td><td>Sochatzy, Florian; Ventzke, Marcus; Schreiber, Waltraud: <em>The multimedia Textbook (mBook) as a possible answer to the educational challenges of the digital revolution.</em> In: Eckert 16 Bulletin.</td></tr>
				<tr><td>2013</td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Multimediales Geschichtsschulbuch.</em> In: Agora: Magazin der KU Eichstätt-Ingolstadt, Bd. 29, Heft 1, S. 30–31. ISSN 0177-9265</td></tr>
				<tr><td>2007</td><td>Ventzke, Marcus: <em>„Da war doch plötzlich alles völlig anders": Anforderungen moderner Schulpädagogik.</em> In: PÄD-Forum: unterrichten erziehen, Bd. 26/35, Heft 2, S. 98–101. ISSN 1611-406X</td></tr>
				<tr><td>2002</td><td>Ventzke, Marcus: <em>Der Weimarer Musenhof und seine ungeratenen Kinder: zur Entwicklung eines kulturellen Exportmodells.</em> In: Goethe-Jahrbuch, Bd. 119, S. 132–147. ISSN 0323-4207 (Peer-Review)</td></tr>
				<tr><td>2000</td><td>Ventzke, Marcus: <em>Das Ende des dreißigjährigen Krieges in einer verhinderten Reichsstadt: Erfurt zwischen Diplomatie und Friedensfest.</em> In: Mitteilungen des Vereins für die Geschichte und Altertumskunde von Erfurt, Bd. 61/N.F. 8, S. 29–57. ISSN 0943-299X</td></tr>
			</tbody>
		</table>

		<h3>Rezensionen</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2013</td><td>Ventzke, Marcus: Rezension von: Ballweg, Jan: <em>Josias von Stein: Stallmeister am Musenhof Anna Amalias.</em> In: Goethe-Jahrbuch, Bd. 130, S. 275–277. ISSN 0323-4207</td></tr>
			</tbody>
		</table>

		<h3>Projektberichte, Forschungsberichte, Gutachten</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2009</td><td>Ventzke, Marcus: <em>Konzeption und Projektleitung: „Die ‚Wende' begann vor unserer Haustür. Die friedliche Revolution in der Gemeinde Moritzburg".</em> Ausstellungsprojekt des Sächsischen Landesgymnasiums St. Afra und der Initiativgruppe ‚Wende in Moritzburg', gefördert durch den Freistaat Sachsen. Meißen/Moritzburg.</td></tr>
			</tbody>
		</table>

		<h3>Online-Berichte</h3>
		<table class="cv-table">
			<tbody>
				<tr><td>2015</td><td>Ventzke, Marcus: <em>Die gefährliche Ekstase der Realitätsverweigerung – eine Polemik.</em> In: macht.schule: Blog des Instituts für digitales Lernen, 16. Mai 2015.</td></tr>
				<tr><td>2011</td><td>Ventzke, Marcus: <em>Die Formierungsphase(n) der Angewandten Geschichte</em>, Version 1. In: Docupedia-Zeitgeschichte, 22. April 2011.</td></tr>
				<tr><td>2011</td><td>Ventzke, Marcus: <em>Tagungsbericht „Forum Angewandte Geschichte": Tagung des Instituts für angewandte Geschichte in Frankfurt (Oder), 17.–18. Februar 2011.</em> In: AHF-Information Nr. 051/11, 15. März 2011.</td></tr>
				<tr><td></td><td>Hrsg.: Schreiber, Waltraud; Ventzke, Marcus; Sochatzy, Florian: <em>macht.schule: Blog des Instituts für digitales Lernen.</em></td></tr>
				<tr><td></td><td>Schreiber, Waltraud; Sochatzy, Florian; Ventzke, Marcus: <em>Auf dem Weg zu digital-multimedialen Lehr- und Lernmitteln für kompetenzorientiertes inklusives Unterrichten und Lernen.</em> In: www.medienberatung.schulministerium.nrw.de.</td></tr>
			</tbody>
		</table>

		<a href="/" class="back-link">Zurück zur Startseite</a>
	</div>
</Layout>

<style>
	.vita-detail {
		max-width: 800px;
		margin: 0 auto;
		padding: 3rem 2rem 4rem;
	}

	.back-link {
		text-decoration: none;
		text-transform: uppercase;
		color: var(--tertiary, #027AAD);
		font-size: 0.85rem;
		letter-spacing: 0.04em;
		display: inline-block;
		margin-bottom: 2rem;
	}

	.back-link:hover {
		text-decoration: underline;
	}

	h1 {
		color: var(--primary);
		font-size: 1.8rem;
		font-weight: 400;
		margin: 0 0 0.3rem;
		line-height: 1.3;
	}

	.subtitle {
		font-size: 1.1rem;
		color: #666;
		margin: 0 0 2rem;
	}

	.intro-with-image {
		display: flex;
		gap: 2rem;
		align-items: flex-start;
		margin-bottom: 2rem;
	}

	.portrait {
		width: 330px;
		min-width: 330px;
		border-radius: 4px;
	}

	@media (max-width: 600px) {
		.intro-with-image {
			flex-direction: column;
		}
		.portrait {
			width: 100%;
			min-width: unset;
			max-width: 260px;
		}
	}

	h2 {
		font-size: 1.3rem;
		font-weight: 500;
		color: var(--primary);
		margin: 2.5rem 0 0.75rem;
	}

	h3 {
		font-size: 1.1rem;
		font-weight: 500;
		color: #333;
		margin: 2rem 0 0.5rem;
		text-transform: none;
	}

	p {
		font-size: 1rem;
		color: #555;
		line-height: 1.8;
		margin: 0 0 1rem;
	}

	.cv-table {
		width: 100%;
		border-collapse: collapse;
		margin: 1rem 0 2rem;
	}

	.cv-table td {
		padding: 0.75rem 1rem;
		font-size: 0.95rem;
		color: #555;
		line-height: 1.6;
		vertical-align: top;
		border-bottom: 1px solid #eee;
	}

	.cv-table td:first-child {
		white-space: nowrap;
		font-weight: 500;
		color: var(--primary);
		width: 1%;
	}

	@media (max-width: 600px) {
		.cv-table td {
			display: block;
			padding: 0.3rem 0;
			border-bottom: none;
		}
		.cv-table tr {
			display: block;
			margin-bottom: 1rem;
			padding-bottom: 0.75rem;
			border-bottom: 1px solid #eee;
		}
	}
</style>
