.wrap {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
}

.wrap::after {
	content: '';
	display: block;
	clear:both;
	position:relative;
}

.image {
	width: 50%;
	height: 100%;
	display: block;
	float: right;
	overflow: hidden;
	z-index:1;
}

.image > div {
	display: block;
	width: 70%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	object-fit: cover;
	object-position: 30% 50%;
	background: var(--background-color);
}

.image img {
	display: block;
	width: 100%;
	height: 110%;
	object-fit: contain;
	object-position: 30% 50%;
	padding-top: 0.5rem;
}

.text {
	width: auto;
	height: 100%;
	max-width: var(--content-wide-width);
	padding: 0 var(--content-padding);
	margin: 0rem  0rem 0rem calc(50% + 0rem) ;
	display: block;
	box-sizing: border-box;
	background-color: #E9E9E9;
	clip-path: url(#referenceClipPathRight);
}
.textInner {
	display: block;
	position: relative;
	width: 80%;
	height: 100%;
	align-items: center;
	justify-content: center;
	/* padding: 3rem calc(50% + 3rem) 3rem 0; */
	box-sizing: border-box;
	padding: 5rem 0;
	margin-left: 6rem;
}
.blue {
	background-color: rgba(2, 122, 173, 0.70);
}
.yellow {
	background-color: #DCD640;
}
.pink {
	background-color: rgba(246, 99, 120, 1);
}

.wrap.even .image img {
	object-position: 50% 50%;
}

.wrap.even .image > div {
	right: 0;
	float: right;
	margin: 0rem  0rem 0 calc(40% + 0rem);
}

.wrap.even .textInner {
	padding-right: 0;
	padding-left: 2rem;
}
.wrap.even .text {
	margin: 0rem  calc(50% + 0rem) 0rem 0;
	clip-path: url(#referenceClipPathLeft);
}


.wrap.odd .textInner {
	text-align: left;
}
.textInner :global(h2) {
	color: var(--primary);
	font-weight: 350;
	font-size: 2rem;
	margin: 0;
}
.textInner :global(h3) {
	font-size: 1.25rem;
	font-weight: 200;
	text-transform: none;
	margin: 0 0 1rem;
}

.textInner :global(h4) {
	font-size: 1.4rem;
	font-weight: 200;
	color: var(--text-color);
	text-transform: none;
	margin: 0 0 4rem;
}

.textInner :global(p) {
	margin: 0 0 0rem;
	font-size: 1.2rem;
	color: var(--text-color);
}

.textInner :global(a) {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--tertiary);
}

.textInner :global(.links) {
	font-size: 1.2rem;
}

.textInner :global(.aligned) {
	display: flex;
	flex: 1;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: 45vw;
}
.textInner :global(.alignedWrapper) {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 800px;
}

@media only screen and (max-width: 1400px)  {
	.textInner :global(h2) {
		font-size: 1.6rem;
		text-align: left;
	}

	.textInner :global(h3) {
		font-size: 1.6rem;
		text-align: left;
	}

	.textInner :global(h4) {
		font-size: 1.3rem;
		text-align: left;
	}

	.textInner :global(.links),
	.textInner :global(p) {
		font-size: 1.1rem;
		text-align: left;
	}

	.textInner {
		padding: 2rem calc(50% + 2rem) 2rem 0;
		margin: 0;
		width: 100%;
	}

	.wrap.even .textInner {
		padding-right: 0;
		padding-left: calc(50% + 2rem);
	}
	.text {
		margin: 0;
		background-color: white;
		clip-path: none;
	}
	.image {
		background-color: white;
		width: 100%;
		height: 25rem;
	}
	.image img {
		object-position: 50% 75%;

	}
}

@media only screen and (max-width: 1400px)  {
	.text,
	.image {
		width: 100%;
		float:none;
	}

	.image {
		padding: 0rem 0 0rem;
	}

	.wrap.odd .textInner {
		text-align: left;
	}

	.wrap .image > div {
		width: 100%;
		position: relative;
		clip-path: url(#headerImageClipPathTop) !important;
	}

	.wrap .text .textInner {
		padding: 2rem 0 1rem;
	}

	.wrap .text .textInner p,
	.wrap .text .textInner h4 {
		margin-bottom: 2rem;
	}
	.image {
		background-color: white;
		width: 100%;
		height: 25rem;
	}
}

@media only screen and (max-width: 500px)  {
	.image {
		background-color: white;
		width: 100%;
		height: 18rem;
	}
	.image img {
		object-position: 50% 70%;
	}
}