---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
type DropdownItem = {
  label: string;
  href: string;
  className: string;
};
const productItems: DropdownItem[] = [
  { label: 'netBook Deutsch', href: 'https://netbook-deutsch.de/', className: "blue"  },
  { label: 'eLearning Module', href: 'https://module.dilewe.de/', className: "pink" },
];

---

<nav>
	<a class={currentPath === "" ? "active" : ""} href="/">Über uns</a>
	<a class={currentPath === "referenzen/" ? "active" : ""} href="/referenzen/">Referenzen</a>
	<!-- <a href="https://netbook-deutsch.de/" target="_blank">Produkte</a> -->
	<div class="dropdown">
		<button class="dropdown-trigger">
		  Produkte
		</button>
		<ul class="dropdown-menu">
		  {productItems.map((item) => (
			<li>
			  <a href={item.href} class={item.className} target="_blank">{item.label}</a>
			</li>
		  ))}
		</ul>
	  </div>
	{ /* <a class={currentPath === "produkte/" ? "active" : ""} href="/produkte/">Produkte</a> */ }
</nav>

<style>
	.dropdown {
  		position: relative;
  		display: inline-block;

  	}

  	.dropdown-trigger {
  		background: none;
  		border: none;
  		cursor: pointer;
  		font-size: inherit;
  		color: inherit;
		font-weight: 300;
		z-index: -1;
  	}

  	.dropdown-menu {
  		display: none;
  		position: absolute;
  		background-color: var(--nav-background);
		border-radius: 0 0 0.5rem 0.5rem;
  		list-style: none;
  		padding: 1rem 0 0 0;
  		margin: 0rem 0rem 0 0rem;
  		z-index: -2;
  	}

  	.dropdown:hover .dropdown-menu {
  		display: block;
  	}

  	.dropdown-menu li {
  		padding: 1rem 0.75rem 0 0rem;
		background-color: white;
  	}
	.dropdown-menu li:last-child {
		border-radius: 0 0 0.5rem 0.5rem;
		padding-bottom: 1rem;
  	}

  	.dropdown-menu li a {
  		text-decoration: none;
  		color: black;
  		display: block;
  	}

	.blue:hover {
		color: #2caed4 !important;
	}
	.pink:hover {
		color: #FF5579 !important;
	}





	nav {
		background: var(--nav-background);
		position: fixed;
		left: 0;
		top: 0;
		padding: 1rem 1rem;
		border-radius: 0 0 0.5rem 0;
		z-index: 100;
	}

	a, .dropdown-trigger {
		text-decoration: none;
		color: var(--nav-text-color);
		text-transform: uppercase;
		padding:0 32px;
		font-size: 1.2rem;
		font-weight: 300;
	}
	a.active {
		text-decoration: underline;;
		text-underline-offset: 5px;
		z-index: 100;
	}

	@media only screen and (max-width: 1000px)  {
		nav {
			width: 100%;
			border-radius: 0;
			text-align: center;
			padding: 2rem 0 1rem;
		}
	}

	@media only screen and (max-width: 600px)  {
		nav {
			width: 100%;
			border-radius: 0;
			text-align: center;
			padding: 2rem 0 0.5rem;
		}
		a, .dropdown-trigger {
			padding: 0 16px;
			font-size: 1rem;
		}
		.dropdown-menu {
			padding: 0.5rem 0 0 0;
		}
	}

	@media only screen and (max-width: 500px)  {
		a, .dropdown-trigger {
			padding: 0 12px;
			font-size: 1rem;
		}
	}
</style>