---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav>
	<a class={currentPath === "" ? "active" : ""} href="/">Über uns</a>
	<a class={currentPath === "referenzen/" ? "active" : ""} href="/referenzen/">Referenzen</a>
	<a href="https://netbook-deutsch.de/" target="_blank">Produkte</a>
	{ /* <a class={currentPath === "produkte/" ? "active" : ""} href="/produkte/">Produkte</a> */ }
</nav>

<style>
	nav {
		background: var(--nav-background);
		position: fixed;
		left: 0;
		top: 0;
		padding: 1rem 1rem;
		border-radius: 0 0 0.5rem 0;
		z-index: 100;
	}

	a {
		text-decoration: none;
		color: var(--nav-text-color);
		text-transform: uppercase;
		padding:0 32px;
		font-size: 1.2rem;
		font-weight: 300;
	}
	a.active {
		text-decoration: underline;;
		text-underline-offset: 5px;
	}

	@media only screen and (max-width: 1000px)  {
		nav {
			width: 100%;
			border-radius: 0;
			text-align: center;
			padding: 2rem 0 1rem;
		}
	}

	@media only screen and (max-width: 500px)  {
		a {
			padding: 0 12px;
			font-size: 1rem;
		}
	}
</style>