---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
---

<nav>
	<a class={currentPath === "" ? "active" : ""} href="/">Über uns</a>
	<a class={currentPath === "referenzen/" ? "active" : ""} href="/referenzen/">Referenzen</a>
	<a href="https://netbook-deutsch.de/" target="_blank">netBook</a>
	{ /* <a class={currentPath === "produkte/" ? "active" : ""} href="/produkte/">Produkte</a> */ }
</nav>

<style>
	nav {
		background: var(--nav-background);
		position: fixed;
		right: 0;
		top: 0;
		padding: 0.5rem 0;
		border-radius: 0 0 0 1rem;
		z-index:100;
	}

	a {
		text-decoration: none;
		color: var(--nav-text-color);
		text-transform: uppercase;
		padding:0 32px;
		font-size: 1.2rem;
	}
	a.active {
		text-decoration: underline;;
	}
</style>