---

---
<div class="content">
	<slot />
</div>

<style>
	.content {
		display: block;
		width: 100%;
		max-width: var(--content-width);
		padding: 0 var(--content-padding);
		box-sizing: border-box;
		margin:0 auto;
	}

	.content :global(p) {
		font-size: 1.2rem;
		margin: 0 0 2rem 0;
	}

	.content :global(a) {
		text-decoration: none;
		color: var(--tertiary);
		font-size: 1.2rem;
	}

	.content :global(h3) {
		font-size: 2rem;
		color: var(--tertiary);
		margin: 0 0 1rem;
	}

	.content :global(h4) {
		font-size: 1.4rem;
		color: var(--tertiary);
		margin: 0 0 0.5rem;
	}
</style>