.wrap {
	position: relative;
	display: block;
	width: 100%;
	overflow: hidden;
	min-height: 28vw;
}

.wrap::after {
	content: '';
	display: block;
	clear:both;
	position:relative;
}

astro-island:first-of-type > div[class^="_wrap"] {
	margin-top: 4rem;
}

.image {
	width: 50%;
	height: 100%;
	display: block;
	float: right;
	overflow: hidden;
	z-index:1;
}

.image > div {
	display: block;
	width: 50%;
	height: 100%;
	position: absolute;
	left: 5%;
	top: 0;
	object-fit: cover;
	object-position: 30% 50%;
	background: var(--background-color);
}

.image img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: 30% 50%;
}

.text {
	width: auto;
	height: 100%;
	max-width: var(--content-wide-width);
	padding: 0 var(--content-padding);
	margin: 0rem  0rem 0rem calc(50% + 0rem) ;
	display: block;
	box-sizing: border-box;
	background-color: white;
}
.textInner {
	display: block;
	position: relative;
	width: 80%;
	height: 100%;
	box-sizing: border-box;
	padding: 2rem 0;
	margin-left: 1rem;
}

.wrap.even .image img {
	object-position: 70% 50%;
}

.wrap.odd .image > div {
	left: 0;
	float: left;
}
.wrap.even .image > div {
	right: 0;
	float: right;
	margin: 0rem  0rem 0rem calc(45% + 0rem) ;
}

.wrap.even .textInner {
	padding-right: 0;
	padding-left: 2rem;
}
.wrap.even .text {
	margin: 0rem  calc(50% + 0rem) 0rem 0;
}

.wrap.odd .textInner {
	text-align: left;
}

.textInner :global(h3) {
	color: var(--primary);
	font-weight: 350;
	font-size: 1.4rem;
	margin: 0;
}

.textInner :global(h4) {
	font-size: 1.1rem;
	font-weight: 200;
	color: var(--text-color);
	text-transform: none;
	margin: 0.5rem 0 2rem;
}

.textInner :global(p) {
	margin: 0 0 4rem;
	font-size: 1.1rem;
	color: var(--text-color);
}

.textInner :global(a) {
	text-decoration: none;
	text-transform: uppercase;
	color: var(--tertiary);
}

.textInner :global(.links) {
	font-size: 1rem;
}

.textInner :global(.aligned) {
	display: flex;
	flex: 1;
	align-items: flex-start;
	justify-content: flex-start;
	margin: 0;
	padding: 0;
	width: 45vw;
}
.textInner :global(.alignedWrapper) {
	display: flex;
	flex-direction: column;
	flex: 1;
	height: 800px;
}

@media only screen and (max-width: 1400px)  {
	.wrap {
		min-height: unset;
	}

	.textInner :global(h3) {
		font-size: 1.3rem;
		text-align: left;
	}

	.textInner :global(h4) {
		font-size: 1.2rem;
		text-align: left;
	}

	.textInner :global(.links){
		font-size: 1.1rem;
	}
	.textInner :global(p) {
		font-size: 1.1rem;
		text-align: left;
	}

	.textInner :global(a) {
		text-align: left;
		display: block;
	}
	.textInner {
		padding: 0;
		margin: 0;
		width: 100%;
	}

	.wrap.even .textInner {
		padding-right: 0;
		padding-left: 0;
	}
	.text {
		margin: 0
	}
	.image {
		background-color: white;
		width: 100%;
		height: 32rem;
	}
}

@media only screen and (max-width: 1400px)  {
	.text,
	.image {
		width: 100%;
		float:none;
	}

	.image {
		padding: 3rem 0 0rem;
	}

	.wrap.odd .textInner {
		text-align: left;
	}

	.wrap .image > div {
		width: 100%;
		position: relative;
	}
	.wrap.even .image > div {
		margin: 0;
		left: 0
	}

	.wrap .text .textInner {
		padding: 2rem 0;
	}

	.wrap .text .textInner p,
	.wrap .text .textInner h4 {
		margin-bottom: 2rem;
	}
}

@media only screen and (max-width: 500px)  {
	.image {
		background-color: white;
		width: 100%;
		height: 18rem;
	}
	.image img {
		object-position: 50% 70%;
	}
}