.wrap {
	display: block;
	overflow: hidden;
	padding-top: 4rem;
}

.wrap h3 {
	color: var(--primary);
}

.headerWrap,
.tabs {
	display: block;
	text-align: center;
	width: 100%;
	max-width: var(--content-width);
	padding:0 var(--content-padding);
	margin: 0 auto;
	box-sizing: border-box;
}

.tabs {
	padding-bottom: 8px;
	position: relative;
	z-index:10;
}

.slides {
	background: var(--primary);
	color: #fff;
	display: block;
	margin-bottom: 2rem;
}

.headerWrap {
	text-align: left;
}

.headerWrap h3 {
	width: 50%;
	display:inline-block;
	text-align: center;
	font-size: 2rem;
	margin-top: 0;
	margin-bottom: 3rem;
}

@media only screen and (max-width: 1100px)  { 
	.headerWrap h3 {
		text-align: center;
		width: 100%;
		position: relative;
		z-index:2;
	}
}

.mobile {
	display: none;
}

@media only screen and (max-width: 1100px)  { 
	.desktop {
		display: none;
	}
	.mobile {
		display: block;
	}
}