---

---

<div>
	<slot/>
</div>

<style>
	div {
		color: var(--secondary);
		text-align: center;
		margin: 5rem auto 8rem;
		padding: 0 var(--content-padding);
		box-sizing: border-box;
		width: 100%;
		max-width: 980px;
		font-size: 1.6rem;
	}

	div :global(h2) {
		font-size: 3rem;
	}

	div :global(p) {
		line-height: 1.5em;
	}

	@media only screen and (max-width: 1000px)  {
		div :global(h2) {
			font-size: 2.4rem;
		}

		div {
			font-size: 1.2rem;
			margin: 3rem auto 5rem;
		}
	}

	@media only screen and (max-width: 600px)  {
		div :global(h2) {
			font-size: 1.8rem;
		}

		div {
			font-size: 1.1rem;
			margin: 2rem auto 4rem;
		}
	}
</style>