---

---

<div>
	<slot/>
</div>

<style>
	div {
		color: var(--secondary);
		text-align: center;
		margin: 5rem auto 8rem;
		padding: 0 var(--content-padding);
		width: 100%;
		max-width: 980px;
		font-size: 1.45rem;
	}

	div :global(h2) {
		font-size: 3.2rem;
	}
</style>