---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import './fonts.css';
import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	bodyClass: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body class={bodyClass}>
		<header>
			<Header />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--primary: #3DA98F;
		--secondary: #D58337;
		--tertiary: #027AAD;
		--nav-background: var(--primary);
		--nav-text-color: #FBFBFB;
		--content-width: 1200px;
		--content-padding: 32px;
		--text-color: #1E1E1E;
		--background-color: #FBFBFB;
	}
	html, body {
		font-family: Lato, system-ui, sans-serif;
		font-weight: 300;
		background: var(--background-color);
		color: var(--text-color);
		margin: 0;
		padding: 0;
	}

	body.privacy {
		--primary: #027AAD;
		--nav-background: #027AAD;
	}

	body.imprint,
	body.references {
		--primary: #D58337;
		--secondary: #3DA98F;
		--nav-background: #D58337;
	}

	body.products {
		--primary: #616161;
		--secondary: #d9d9d9;
		--nav-background: #FBFBFB;
		--nav-text-color: #616161;``
	}

	* {
		line-height: 1.35em;
	}

	h1,h2,h3,h4,h5,h6 {
		font-family: Lato, system-ui, sans-serif;
		text-transform: uppercase;
		font-weight: 300;
	}

	p {
		margin:0 0 1em;
	}
</style>
