---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import './fonts.css';
// import { ViewTransitions } from 'astro:transitions';

interface Props {
	title: string;
	bodyClass: string;
}

const { title, bodyClass } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Digitale Lernwelten - Manufaktur für digitale Bildung"/>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<!-- <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="720ff314-0104-4f02-a4a9-ba066852f34c" type="text/javascript" async></script> -->
		<!-- Google tag (gtag.js) -->
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-9684N5JFL0"></script>
		<script>
			declare global {
  				interface Window {
   					 dataLayer: any[];
  				}
			}
			window.dataLayer = window.dataLayer || [];
			function gtag(...args: any[]){
				window.dataLayer.push(args);
			}
			gtag('js', new Date());
			gtag('config', 'G-9684N5JFL0');
		</script>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
			new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
			j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
			'https://www.googletagmanager.com/gtm.js?id='+i+dl;f?.parentNode?.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-N6M72RC');</script>
		<!-- End Google Tag Manager -->
	</head>
	<body class={bodyClass}>
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N6M72RC"
			height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->
		<svg height="0" width="0" style={{position:'absolute'}}>
			<defs>
				<clipPath id="referenceClipPathLeftHeader" clipPathUnits="objectBoundingBox">
					<path d="M 0 0 L 1 0 C 0.90 0.4 0.90 0.6 1 1 L 0 1 L 0 0"></path>
				</clipPath>
				<clipPath id="referenceClipPathLeft" clipPathUnits="objectBoundingBox">
					<path d="M 0 0 L 1 0 C 0.95 0.4 0.95 0.6 1 1 L 0 1 L 0 0"></path>
				</clipPath>
				<clipPath id="referenceClipPathRight" clipPathUnits="objectBoundingBox">
					<path d="M 1 0 L 0 0 C 0.05 0.4 0.05 0.6 0 1 L 1 1 L 1 0"></path>
				</clipPath>
				<clipPath id="headerImageClipPathTop" clipPathUnits="objectBoundingBox">
					<path d="M 1 0.2 C 0.6667 -0.05 0.3333 -0.05 0 0.2 L 0 0.8 C 0.3333 1.05 0.6667 1.05 1 0.8 L 1 0.2"></path>
				</clipPath>
			</defs>
		</svg>
		<header>
			<Header />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--primary: #3DA98F;
		--secondary: #D58337;
		--tertiary: #027AAD;
		--nav-background: var(--primary);
		--nav-text-color: #FBFBFB;
		--content-width: 1200px;
		--content-wide-width: 1600px;
		--content-padding: 32px;
		--text-color: #1E1E1E;
		--background-color: white;
	}
	html, body {
		font-family: Lato, system-ui, sans-serif;
		font-weight: 300;
		background: var(--background-color);
		color: var(--text-color);
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	body.references {
		--primary: #027AAD;
		--nav-background: #616161;
	}
	body.index {
		--primary: #027AAD;
		--nav-background: #616161;
	}

	body.imprint,
	body.privacy {
		--primary: #D58337;
		--secondary: #3DA98F;
		--nav-background: #D58337;
	}

	body.products {
		--primary: #616161;
		--secondary: #d9d9d9;
		--nav-background: #FBFBFB;
		--nav-text-color: #616161;
	}

	* {
		line-height: 1.35em;
	}

	h1,h2,h3,h4,h5,h6,button {
		font-family: Lato, system-ui, sans-serif;
		text-transform: uppercase;
		font-weight: 300;
	}

	p {
		margin:0 0 1em;
	}
</style>
