---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/lato/stylesheet.css';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<base href="./" target="_blank">
		<title>{title}</title>
	</head>
	<body>
		<header>
			<Header />
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<Footer />
		</footer>
	</body>
</html>

<style is:global>
	:root {
		--primary: #3DA98F;
		--secondary: #D58337;
		--content-width: 1200px;
		--content-padding: 32px;
	}
	html, body {
		font-family: Lato, system-ui, sans-serif;
		font-weight: 300;
		background: #FBFBFB;
		color: #1E1E1E;
		margin: 0;
		padding: 0;
	}

	* {
		line-height: 1.35em;
	}

	h1,h2,h3,h4,h5,h6 {
		text-transform: uppercase;
		font-weight: 300;
	}

	p {
		margin:0 0 1em;
	}
</style>
